Repository amd-enterprise-ai/aim-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-generate, make-manifests, make-crd-docs, third-party-licenses, golangci-lint

make-generate:
  name: Run make generate
  entry: make generate
  language: system
  pass_filenames: false

make-manifests:
  name: Run make manifests
  entry: make manifests
  language: system
  pass_filenames: false

make-crd-docs:
  name: Run CRD docs generation
  entry: make generate-crd-docs
  language: system
  pass_filenames: false

third-party-licenses:
  name: Generate third-party licenses
  entry: make third-party-licenses
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  description: Fast linters runner for Go. Note that only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
  entry: golangci-lint run --new-from-rev=HEAD --timeout 10m
  language: system
  require_serial: true
  pass_filenames: false

add placeholders for status state engine
  internal/controller/utils/errors.go
  internal/controller/utils/errors_test.go
  internal/controller/utils/health.go
  internal/controller/utils/reconciler.go
Due: golangci-lint

update docs
  docs/docs/dev/controller-patterns.md
  docs/docs/dev/observation-design.md
  docs/docs/dev/state-engine.md
Due: none

update AsInfo to be default observability omitting mode
  docs/docs/dev/controller-patterns.md
  internal/controller/utils/events.go
Due: golangci-lint

consolidate reconciler tests into a single file
  internal/controller/utils/reconciler_error_recovery_test.go
  internal/controller/utils/reconciler_grace_period_test.go
  internal/controller/utils/reconciler_pipeline_test.go
  internal/controller/utils/reconciler_state_engine_test.go
  internal/controller/utils/reconciler_test.go
  internal/controller/utils/reconciler_test_helpers.go
Due: golangci-lint

distinguish between upstream and downstream dependencies
  internal/controller/utils/fetch.go
  internal/controller/utils/health.go
  internal/controller/utils/reconciler.go
Due: golangci-lint

refactor and simplify the reconciler
  internal/controller/utils/reconciler.go
Due: golangci-lint

fix edge cases with reconciler, add tests
  internal/controller/utils/reconciler.go
  internal/controller/utils/reconciler_test.go
Due: golangci-lint

feat: implement state engine and enhance controller infrastructure
  cmd/main.go
  internal/controller/utils/apply.go
  internal/controller/utils/apply_test.go
  internal/controller/utils/errors.go
  internal/controller/utils/health.go
  internal/controller/utils/health_fetchers.go
  internal/controller/utils/health_test.go
  internal/controller/utils/reconciler.go
  internal/controller/utils/reconciler_test.go
Due: golangci-lint

Feat: AIMClusterModelSource
  Makefile
  api/v1alpha1/aimclustermodelsource_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/aim.eai.amd.com_aimclustermodelsources.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  config/samples/aim_v1alpha1_aimclustermodelsource.yaml
  config/samples/kustomization.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimclustermodelsource/builder.go
  internal/aimclustermodelsource/builder_test.go
  internal/aimclustermodelsource/filtering.go
  internal/aimclustermodelsource/filtering_test.go
  internal/aimclustermodelsource/reconcile.go
  internal/aimclustermodelsource/reconcile_test.go
  internal/aimclustermodelsource/registry.go
  internal/controller/aimclustermodelsource_controller.go
  internal/controller/utils/reconciler.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

fix: align state engine with main branch after incomplete rebase
  cmd/main.go
  internal/controller/aimclustermodel_controller.go
  internal/controller/aimmodel_controller.go
  internal/controller/utils/events.go
  internal/controller/utils/reconciler.go
  internal/controller/utils/reconciler_test.go
Due: golangci-lint

add mise for dev dependencies
  mise.toml
Due: none

add helm generate target to makefile
  .gitignore
  Makefile
  PROJECT
Due: none

add chainsaw tests to ci
  .github/workflows/test-e2e.yml
  hack/dependencies/helmfile.yaml.gotmpl
  hack/kind/config.yaml
  hack/kind/helmfile.yaml.gotmpl
Due: none

fix issues
  .github/workflows/test-e2e.yml
  hack/kind/config.yaml
Due: none

fix kserve deployment timeout
  .github/workflows/test-e2e.yml
Due: none

fix kserve deployment timeout
  .github/workflows/test-e2e.yml
  hack/dependencies/helmfile.yaml.gotmpl
Due: none

downgrade helm
  hack/dependencies/helmfile.yaml.gotmpl
  mise.toml
Due: none

optimize docker build on CI
  .github/workflows/test-e2e.yml
  Dockerfile
Due: none

optimize CI caching
  .github/workflows/test-e2e.yml
Due: none

add unit tests
  .github/workflows/test-e2e.yml
Due: none

caching for unit tests
  .github/workflows/test-e2e.yml
Due: none

fix naming, fix logging default
  internal/controller/aimclustermodel_controller.go
  internal/controller/aimmodel_controller.go
  internal/controller/utils/events.go
Due: golangci-lint

move version pinning to mise, remove unused envtest
  .github/workflows/lint.yml
  .github/workflows/test-e2e.yml
  Makefile
  mise.toml
Due: none

update readme
  README.md
Due: none

Feature/chainsaw tests in ci (#13)
  .github/workflows/lint.yml
  .github/workflows/test-e2e.yml
  .gitignore
  Dockerfile
  Makefile
  PROJECT
  README.md
  hack/dependencies/helmfile.yaml.gotmpl
  hack/kind/config.yaml
  hack/kind/helmfile.yaml.gotmpl
  mise.toml
Due: none

fix: align state engine with main branch after rebase (#12)
  cmd/main.go
  internal/controller/aimclustermodel_controller.go
  internal/controller/aimmodel_controller.go
  internal/controller/utils/reconciler.go
  internal/controller/utils/reconciler_test.go
Due: golangci-lint

Naming conventions in setupwithmanager
  internal/controller/aimclustermodelsource_controller.go
Due: golangci-lint

Added chainsaw tests
  tests/e2e/aimclustermodelsource/auth-failure/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/auth-failure/cluster-model-source-ghcr.yaml
  tests/e2e/aimclustermodelsource/auto-sourcing/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/auto-sourcing/cluster-model-source.yaml
  tests/e2e/aimclustermodelsource/wildcard/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/wildcard/cluster-model-source-dockerhub.yaml
Due: none

Review PR feedback
  internal/aimclustermodelsource/builder.go
  internal/aimclustermodelsource/builder_test.go
  internal/aimclustermodelsource/reconcile.go
Due: golangci-lint

Path conditions:
  make-generate: any of: ^api/
  make-manifests: any of: ^api/
  make-crd-docs: any of: ^api/
  third-party-licenses: any of: ^go\.(mod|sum)$
  golangci-lint: any of: \.go$
