Repository amd-enterprise-ai/aim-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-generate, make-manifests, make-crd-docs, third-party-licenses, golangci-lint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: branch-name-check
    name: Check branch name
    entry: bash -c 'branch=$(git rev-parse --abbrev-ref HEAD); if [[ ! "$branch" =~ ^(fix|feature|chore|ci|docs|refactor|perf|test)/.+ ]]; then echo "Error - Branch name must start with one of fix, feat, build, chore, ci, docs, refactor, perf, test, followed by / and descriptive text"; echo "Current branch is $branch"; exit 1; fi'
    language: system
    pass_filenames: false
    stages: [pre-push]

  - id: make-generate
    name: Run make generate
    entry: make generate
    language: system
    pass_filenames: false
    files: ^api/

  - id: make-manifests
    name: Run make manifests
    entry: make manifests
    language: system
    pass_filenames: false
    files: ^api/

  - id: make-crd-docs
    name: Run CRD docs generation
    entry: make generate-crd-docs
    language: system
    pass_filenames: false
    files: ^api/

  - id: third-party-licenses
    name: Generate third-party licenses
    entry: make third-party-licenses
    language: system
    pass_filenames: false
    files: ^go\.(mod|sum)$

  # - id: build-crds
  #   name: Build CRDs for Helm chart
  #   entry: bash -lc 'kubectl kustomize config/crd/ > crd/crds.yaml'
  #   language: system
  #   pass_filenames: false

  # - id: make-generate-crd-docs
  #   name: Run make generate-crd-docs
  #   entry: make generate-crd-docs
  #   language: system
  #   pass_filenames: false

  - id: golangci-lint
    name: golangci-lint
    description: Fast linters runner for Go. Note that only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
    entry: golangci-lint run --new-from-rev=HEAD --timeout 10m
    types: [ go ]
    language: system
    require_serial: true
    pass_filenames: false

- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [ --offset, "0", --sequence, "2", --mapping, "2", "--width", "4096", "--preserve-quotes", "--implicit_start", "--preserve_null" ]
    exclude: "(^config/prometheus/.*\\.ya?ml$)|(^docs/mkdocs\\.ya?ml$)|(^config/crd/.*\\.ya?ml$)||(^install.ya?ml$)|(^crd/.*\\.ya?ml$)|(^chart/templates/.*\\.(ya?ml|tpl)$)|(^.*/templates/.*\\.(ya?ml|tpl)$)"

Annotations for served-model and cluster-auth/* added to InferenceService (#124)
  internal/constants/constants.go
  internal/utils/utils.go
  internal/v1alpha1/aimservice/kserve.go
  internal/v1alpha1/aimservice/kserve_test.go
  internal/v1alpha2/aimservice/configmap_test.go
  internal/v1alpha2/aimservice/kserve.go
  internal/v1alpha2/aimservice/reconcile_test.go
  tests/e2e/aimservice/common/profile-cpu-via-model/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/custom-profile-engine-args/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/custom-profile-engine-args/validate-model-name.sh
Due: golangci-lint

docs(api): clarify acceleratorCount semantics for CPU profiles (#119)
  api/v1alpha1/profile_derivation_shared.go
  api/v1alpha2/aimprofile_shared.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterprofiles.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimprofiles.yaml
  docs/docs/reference/api/v1alpha1.md
  docs/docs/reference/api/v1alpha2.md
  internal/v1alpha2/aimservice/reconcile_test.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Align version-policy enum and fix stale base-profile comments (#126)
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/profile_derivation_shared.go
  api/v1alpha2/aimprofile_shared.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterprofiles.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimprofiles.yaml
  docs/docs/reference/api/v1alpha1.md
  docs/docs/reference/api/v1alpha2.md
  internal/constants/labels.go
  internal/v1alpha1/aimmodel/template_matching.go
  internal/v1alpha1/aimmodel/template_matching_test.go
  internal/v1alpha2/aimprofile/provenance.go
  internal/v1alpha2/aimservice/resolver.go
  internal/v1alpha2/aimservice/watches.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Fix AIMClusterModelSource and AIMModel error loops (#131)
  internal/v1alpha1/aimclustermodelsource/reconcile.go
  internal/v1alpha1/aimclustermodelsource/reconcile_test.go
  internal/v1alpha1/aimmodel/inspector.go
  internal/v1alpha1/aimmodel/inspector_test.go
  internal/v1alpha1/controller/aimclustermodelsource_controller.go
  internal/v1alpha1/controller/aimclustermodelsource_controller_test.go
  tests/e2e/aimclustermodelsource/bad-image-no-hotloop/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/bad-image-no-hotloop/cluster-model-source.yaml
  tests/e2e/aimclustermodelsource/respect-existing-models/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/respect-existing-models/cluster-model-source.yaml
  tests/e2e/aimclustermodelsource/respect-existing-models/existing-model.yaml
Due: golangci-lint

fix(profiles): keep optimized image when derivation leaves weights unchanged (#136)
  docs/docs/concepts/profilesets.md
  docs/docs/guides/deploying-services.md
  docs/docs/guides/fine-tuned-models.md
  internal/v1alpha2/aimprofile/profile_copy.go
  internal/v1alpha2/aimprofile/profile_copy_test.go
  internal/v1alpha2/aimservice/overlay.go
  tests/e2e/v1alpha2/aimservice/overlay-image-resolution/chainsaw-test.yaml
  tests/e2e/v1alpha2/aimservice/overlay-image-resolution/seed-profile.yaml
  tests/e2e/v1alpha2/aimservice/overlay-image-resolution/service-weights-replaced.yaml
  tests/e2e/v1alpha2/aimservice/overlay-image-resolution/service-weights-unchanged.yaml
  tests/e2e/v1alpha2/custom-model/end-to-end-kind/chainsaw-test.yaml
  tests/e2e/v1alpha2/custom-model/end-to-end/chainsaw-test.yaml
Due: golangci-lint

AcceleratorCount to match cpu QoS guaranteed for epyc (#134)
  docs/docs/concepts/profiles.md
  docs/docs/guides/deploying-services.md
  internal/v1alpha1/aimmodel/inspector.go
  internal/v1alpha2/aimmodel/reconcile.go
  internal/v1alpha2/aimprofile/node_match.go
  internal/v1alpha2/aimprofile/node_match_test.go
  internal/v1alpha2/aimprofile/reconcile.go
  internal/v1alpha2/aimprofile/reconcile_test.go
Due: golangci-lint

Fix/v1alpha2 minimum type floor tests (#141)
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/profile_derivation_shared.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterprofilesets.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimprofilesets.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/api/v1alpha1.md
  internal/v1alpha2/aimprofile/profile_copy.go
  internal/v1alpha2/aimprofile/profile_copy_test.go
  internal/v1alpha2/aimprofileset/reconcile_test.go
  internal/v1alpha2/aimservice/resolver.go
  tests/e2e/v1alpha2/aimmodel/custom-copy/chainsaw-test.yaml
  tests/e2e/v1alpha2/aimmodel/derivedfrom-happy-path/chainsaw-test.yaml
  tests/e2e/v1alpha2/aimmodel/seeded-derivatives/chainsaw-test.yaml
  tests/e2e/v1alpha2/aimprofileset/cache-backed/chainsaw-test.yaml
  tests/e2e/v1alpha2/aimprofileset/no-recopy/chainsaw-test.yaml
  tests/e2e/v1alpha2/aimservice/resolve-by-model-and-selector/service.yaml
  tests/e2e/v1alpha2/aimservice/resolve-by-model/seed-profile.yaml
  tests/e2e/v1alpha2/custom-model/end-to-end-kind/chainsaw-test.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Docs pages workflow (#44)
  .github/workflows/docs.yaml
  docs/redirect/docs/index.md
  docs/redirect/docs/stylesheets/extra.css
  docs/redirect/mkdocs.yml
  docs/redirect/overrides/main.html
  docs/redirect/requirements.txt
  docs/requirements.txt
Due: none

Fix/v1alpha2 cache download token (#140)
  api/v1alpha1/aimservice_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha2/aimprofilecache_types.go
  api/v1alpha2/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimprofilecaches.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/api/v1alpha1.md
  docs/docs/reference/api/v1alpha2.md
  internal/v1alpha2/aimprofilecache/reconcile.go
  internal/v1alpha2/aimprofilecache/reconcile_test.go
  internal/v1alpha2/aimservice/reconcile.go
  internal/v1alpha2/aimservice/reconcile_test.go
  tests/e2e/aimservice/frozen/service-caching-env-to-cache/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/service-caching-env-to-cache/profile.yaml
  tests/e2e/aimservice/frozen/service-caching-env-to-cache/runtime-config.yaml
  tests/e2e/aimservice/frozen/service-caching-env-to-cache/service.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Delete *.lock files on cleanup (#135)
  images/artifact-downloader/hf-download.sh
Due: none

Feature/replace manual selection with minimum type (#139)
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/profile_derivation_shared.go
  api/v1alpha2/aimprofile_shared.go
  api/v1alpha2/common_types.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterprofiles.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterprofilesets.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimprofiles.yaml
  config/crd/bases/aim.eai.amd.com_aimprofilesets.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/concepts/profiles.md
  docs/docs/concepts/profilesets.md
  docs/docs/concepts/services.md
  docs/docs/reference/api/v1alpha1.md
  docs/docs/reference/api/v1alpha2.md
  internal/v1alpha2/aimprofile/profile_copy.go
  internal/v1alpha2/aimprofile/profile_copy_test.go
  internal/v1alpha2/aimprofileset/reconcile.go
  internal/v1alpha2/aimservice/resolver.go
  internal/v1alpha2/aimservice/resolver_test.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Add coding guidelines (#145)
  docs/docs/contributing/coding-guidelines.md
Due: none

Fix inference route auth bypass on multi-listener gateways (EAI-6951) (#142)
  CHANGELOG.md
  api/v1alpha1/aimruntimeconfig_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclusterruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/rbac/role.yaml
  docs/docs/admin/security.md
  docs/docs/guides/routing-and-ingress.md
  docs/docs/reference/api/v1alpha1.md
  internal/controller/aimservice_controller.go
  internal/v1alpha1/aimservice/exports.go
  internal/v1alpha1/aimservice/httproute.go
  internal/v1alpha1/aimservice/httproute_test.go
  internal/v1alpha1/aimservice/reconcile.go
  internal/v1alpha2/aimservice/reconcile.go
  internal/v1alpha2/aimservice/reconcile_test.go
  tests/e2e/aimservice/route-hostname-multi-listener-blocks/chainsaw-test.yaml
  tests/e2e/aimservice/route-hostname-multi-listener-blocks/gateway.yaml
  tests/e2e/aimservice/route-hostname-multi-listener-blocks/service.yaml
  tests/e2e/aimservice/route-hostname-pinned/chainsaw-test.yaml
  tests/e2e/aimservice/route-hostname-pinned/cluster-profile.yaml
  tests/e2e/aimservice/route-hostname-pinned/gateway.yaml
  tests/e2e/aimservice/route-hostname-pinned/service.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Fix loading gated artifact downloader for test release (#146)
  .github/workflows/compile-release.yaml
Due: none

fix(artifact-downloader): install click so the hf CLI runs (#127)
  .github/workflows/test-e2e.yml
  Makefile
  hack/ci/metrics-poller.yaml
  images/artifact-downloader/Dockerfile
  tests/chainsaw/config/gpu.yaml
  tests/chainsaw/config/kind-ci.yaml
  tests/chainsaw/config/kind.yaml
Due: none

ci: capture shared-infra restarts and harden NFS server under parallel load (#128)
  .github/workflows/test-e2e.yml
  hack/ci/metrics-poller.yaml
  hack/kind/nfs-server.yaml
Due: none

AIMService: v1alpha2 endpoint should allow update of existing v1alpha1 (#122)
  api/v1alpha2/aimservice_types.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  tests/e2e/aimservice/frozen/profile-cel-validation/chainsaw-test.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Fix/Prevent AIMClusterModelSource registry hammering (#123)
  internal/v1alpha1/aimclustermodelsource/reconcile.go
  internal/v1alpha1/controller/aimclustermodelsource_controller.go
  internal/v1alpha1/controller/aimclustermodelsource_controller_test.go
Due: golangci-lint

Treat empty AIMService profile name as omitted (#151)
  api/v1alpha1/aimservice_types.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/api/v1alpha1.md
  tests/e2e/aimservice/frozen/profile-cel-validation/chainsaw-test.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Remove api-version from controller name (#153)
  internal/controller/utils/apply.go
  internal/v1alpha2/controller/aimclustermodel_controller.go
  internal/v1alpha2/controller/aimmodel_controller.go
Due: golangci-lint

adds titles to links in `_toc.yml.in`. (#155)
  docs/docs/_toc.yml.in
Due: none

Release notes for v0.2.5 (#156)
  CHANGELOG.md
Due: none
