Repository amd-enterprise-ai/aim-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-generate, make-manifests, make-crd-docs, third-party-licenses, golangci-lint

make-generate:
  name: Run make generate
  entry: make generate
  language: system
  pass_filenames: false

make-manifests:
  name: Run make manifests
  entry: make manifests
  language: system
  pass_filenames: false

make-crd-docs:
  name: Run CRD docs generation
  entry: make generate-crd-docs
  language: system
  pass_filenames: false

third-party-licenses:
  name: Generate third-party licenses
  entry: make third-party-licenses
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  description: Fast linters runner for Go. Note that only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
  entry: golangci-lint run --new-from-rev=HEAD --timeout 10m
  language: system
  require_serial: true
  pass_filenames: false

Release notes for v0.2.2 (#64)
  CHANGELOG.md
Due: none

Increase discovery job TTL to 10 minutes (#70)
  internal/aimservicetemplate/discovery.go
Due: golangci-lint

Change ImagePullPolicy to Always for the InferenceService (#69)
  internal/aimservice/kserve.go
Due: golangci-lint

ci: isolate self-hosted e2e workflow (#72)
  .github/workflows/test-e2e.yml
  Makefile
  api/v1alpha1/aimartifact_types.go
  api/v1alpha1/aimruntimeconfig_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimartifacts.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimruntimeconfigs.yaml
  docs/docs/reference/api/v1alpha1.md
  hack/cache-warm-job.yaml
  hack/default-cluster-runtime-config.yaml
  hack/dependencies/helmfile.yaml.gotmpl
  internal/aimartifact/cache.go
  internal/aimartifact/cache_test.go
  internal/aimartifact/download.go
  internal/aimartifact/reconcile.go
  mise.toml
  tests/e2e/aimartifact/cache-s3-hit/artifact.yaml
  tests/e2e/aimartifact/cache-s3-hit/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-profiles/custom-profile-lifecycle/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-profiles/custom-profile-lifecycle/model.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/cluster-service-template.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/service-template.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Enhance radeon device DIDs (#73)
  internal/utils/resources.go
Due: golangci-lint

Feature/accelerator detector (#67)
  .github/workflows/compile-release.yaml
  .github/workflows/test-e2e.yml
  .gitignore
  Makefile
  config/accelerator-detector/cpu-daemonset.yaml
  config/accelerator-detector/gpu-daemonset.yaml
  config/accelerator-detector/kustomization.yaml
  config/accelerator-detector/scripts/detect-and-label.py
  config/accelerator-detector/service_account.yaml
  config/default/kustomization.yaml
  config/helm/templates/accelerator-detector.yaml
  config/helm/values.yaml
  docs/docs/admin/gpu-management.md
  docs/docs/admin/installation.md
  docs/docs/concepts/accelerator-detection.md
  docs/docs/reference/naming-and-labels.md
  docs/mkdocs.yml
  hack/kind/helmfile.yaml.gotmpl
  hack/kind/nfs-server.yaml
  hack/patch-helm-chart.sh
  hack/tilt/kustomize/kustomization.yaml
  tests/chainsaw/config/kind-ci.yaml
  tests/e2e/accelerator-detector/cpu-detection/chainsaw-test.yaml
  tests/e2e/accelerator-detector/gpu-detection/chainsaw-test.yaml
Due: none

Add a second verification layer to downloader (#68)
  api/v1alpha1/aimruntimeconfig_shared.go
  config/crd/bases/aim.eai.amd.com_aimclusterruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimruntimeconfigs.yaml
  docs/docs/admin/troubleshooting.md
  docs/docs/concepts/caching.md
  docs/docs/guides/model-caching.md
  docs/docs/reference/api/v1alpha1.md
  docs/docs/reference/environment-variables.md
  images/artifact-downloader/Dockerfile
  images/artifact-downloader/entrypoint.sh
  images/artifact-downloader/hf-download.sh
  images/artifact-downloader/hf-verify.sh
  images/artifact-downloader/progress-monitor.sh
  images/artifact-downloader/verify-files.py
  internal/v1alpha1/aimartifact/download.go
  internal/v1alpha1/aimartifact/download_test.go
  tests/e2e/aimartifact/stall-then-retry/artifact.yaml
  tests/e2e/aimartifact/stall-then-retry/chainsaw-test.yaml
  tests/e2e/aimartifact/stall-then-retry/runtime.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

New aimid template matching (#80)
  CHANGELOG.md
  api/v1alpha1/aimclustermodel_types.go
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/aimmodel_types.go
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/aimservicetemplate_types.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  docs/docs/concepts/models.md
  docs/docs/concepts/templates.md
  docs/docs/contributing/testing.md
  docs/docs/reference/api/v1alpha1.md
  hack/tilt/README.md
  hack/tilt/kustomize/kustomization.yaml
  internal/v1alpha1/aimmodel/inspector_test.go
  internal/v1alpha1/aimmodel/reconcile.go
  internal/v1alpha1/aimmodel/template_matching.go
  internal/v1alpha1/aimmodel/template_matching_test.go
  internal/v1alpha1/aimservicetemplate/reconcile.go
  internal/v1alpha1/aimservicetemplate/utils.go
  internal/v1alpha1/aimservicetemplate/utils_test.go
  internal/v1alpha1/controller/aimclustermodel_controller.go
  internal/v1alpha1/controller/aimmodel_controller.go
  tests/e2e/aimmodel/fine-tuned/aimid-cluster-template-match/chainsaw-test.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-cluster-template-match/cluster-model.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-cluster-template-match/cluster-template.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-cluster-template-match/finetuned-model.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-matching-pinned/base-model.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-matching-pinned/chainsaw-test.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-matching-pinned/finetuned-model.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-matching-pinned/official-template.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-no-match/base-model.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-no-match/chainsaw-test.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-no-match/finetuned-model.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-no-match/official-template.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

fix accelerator detector image (#81)
  .github/workflows/compile-release.yaml
  .github/workflows/publish-main.yml
  config/helm/values.yaml
Due: none

Add image pull secret to publish main (#82)
  .github/workflows/publish-main.yml
Due: none

add imagepullsecret name to publish-main branch (#83)
  .github/workflows/publish-main.yml
Due: none

add missing pipe operators to yq (#84)
  .github/workflows/publish-main.yml
Due: none

Add support for Radeon profiles (#85)
  CHANGELOG.md
  docs/docs/admin/gpu-management.md
  internal/utils/resources.go
  internal/v1alpha1/aimservice/selection.go
  internal/v1alpha1/aimservice/selection_test.go
  internal/v1alpha1/aimservicetemplate/discovery.go
  internal/v1alpha1/aimservicetemplate/discovery_test.go
  internal/v1alpha1/aimservicetemplate/gpu_test.go
  tests/e2e/aimmodel/radeon-accelerator-template/chainsaw-test.yaml
  tests/e2e/aimmodel/radeon-accelerator-template/model.yaml
Due: golangci-lint

add int-test gha trigger (#86)
  .github/workflows/compile-release.yaml
Due: none

Extract aimid and modelid from profile during discovery (#87)
  api/v1alpha1/aimservicetemplate_shared.go
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  docs/docs/reference/api/v1alpha1.md
  internal/v1alpha1/aimservicetemplate/discovery.go
  internal/v1alpha1/aimservicetemplate/reconcile.go
  tests/e2e/aimservicetemplate/discovery/aimid-extraction/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery/aimid-extraction/cluster-model.yaml
  tests/e2e/aimservicetemplate/discovery/aimid-extraction/model.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

trigger downloader image build/push during release (#90)
  .github/workflows/build-model-downloader.yaml
Due: none

Support fine-tuned AIMModels without spec.image (#91)
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/registry.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  docs/docs/concepts/models.md
  docs/docs/reference/api/v1alpha1.md
  hack/rediscover-aim-templates.sh
  internal/constants/constants.go
  internal/utils/resources.go
  internal/utils/resources_test.go
  internal/v1alpha1/aimmodel/finetune_image.go
  internal/v1alpha1/aimmodel/finetune_image_test.go
  internal/v1alpha1/aimmodel/inspector.go
  internal/v1alpha1/aimmodel/inspector_test.go
  internal/v1alpha1/aimmodel/reconcile.go
  internal/v1alpha1/aimmodel/template_matching.go
  internal/v1alpha1/aimmodel/template_matching_test.go
  internal/v1alpha1/aimservice/kserve.go
  internal/v1alpha1/aimservice/kserve_test.go
  internal/v1alpha1/aimservicetemplate/model.go
  internal/v1alpha1/controller/aimclustermodel_controller.go
  internal/v1alpha1/controller/aimmodel_controller.go
  tests/e2e/aimmodel/fine-tuned/aimid-multiple-owners-different-base/base-model-a.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-multiple-owners-different-base/base-model-b.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-multiple-owners-different-base/chainsaw-test.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-multiple-owners-different-base/finetuned-model.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-multiple-owners-different-base/template-a.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-multiple-owners-different-base/template-b.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-multiple-owners-different-base/template-unrelated.yaml
  tests/e2e/aimservice/gpu/finetuned-latest-no-image/base-model.yaml
  tests/e2e/aimservice/gpu/finetuned-latest-no-image/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/finetuned-latest-no-image/finetuned-model.yaml
  tests/e2e/aimservice/gpu/finetuned-latest-no-image/runtime-config.yaml
  tests/e2e/aimservice/gpu/finetuned-latest-no-image/service.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Base finetune copied AIMServiceTemplate on profile metadata instead of spec (#92)
  internal/v1alpha1/aimmodel/finetune_image_test.go
  internal/v1alpha1/aimmodel/template_matching.go
  internal/v1alpha1/aimmodel/template_matching_test.go
  internal/v1alpha1/aimservicetemplate/reconcile.go
  tests/e2e/aimmodel/fine-tuned/aimid-discovered-profile/base-model.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-discovered-profile/base-template.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-discovered-profile/chainsaw-test.yaml
  tests/e2e/aimmodel/fine-tuned/aimid-discovered-profile/finetuned-model.yaml
Due: golangci-lint

remove regex/wildcard filtering in aimclustermodelsource (#93)
  .pre-commit-config.yaml
  api/v1alpha1/aimclustermodelsource_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclustermodelsources.yaml
  config/helm/templates/aimclustermodelsource.yaml
  config/helm/values.yaml
  config/samples/aim_v1alpha1_aimclustermodelsource.yaml
  docs/docs/concepts/model-sources.md
  docs/docs/contributing/development-setup.md
  docs/docs/getting-started/installation.md
  docs/docs/guides/model-catalog.md
  docs/docs/guides/private-registries.md
  docs/docs/reference/api/v1alpha1.md
  docs/docs/reference/helm-values.md
  hack/generate-helm-values-docs.go
  internal/v1alpha1/aimclustermodelsource/filtering.go
  internal/v1alpha1/aimclustermodelsource/filtering_test.go
  internal/v1alpha1/aimclustermodelsource/reconcile.go
  internal/v1alpha1/aimclustermodelsource/registry.go
  tests/e2e/aimclustermodelsource/auth-failure/cluster-model-source-ghcr.yaml
  tests/e2e/aimclustermodelsource/auto-sourcing/cluster-model-source.yaml
  tests/e2e/aimclustermodelsource/explicit-filters/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/explicit-filters/cluster-model-source.yaml
  tests/e2e/aimclustermodelsource/filters-images-exclusivity/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/wildcard/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/wildcard/cluster-model-source-dockerhub.yaml
  tests/e2e/aimservice/common/custom-model/auto-generated-template/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-model/inline-custom-model/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-model/model-deduplication/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/chainsaw-test.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Fix test-release (#95)
  .github/workflows/compile-release.yaml
  tests/chainsaw/config/kind-ci.yaml
  tests/e2e/aimartifact/size-discovery-and-verification/chainsaw-test.yaml
Due: none

use an isolated Helm config/cache/registry file per run to avoid stale GHCR credentials influencing public OCI pulls (#97)
  .github/workflows/compile-release.yaml
  .github/workflows/test-e2e.yml
Due: none

If all required info from profile isn't present, run discovery again (#96)
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  docs/docs/reference/api/v1alpha1.md
  hack/rediscover-aim-templates.sh
  internal/v1alpha1/aimservicetemplate/discovery.go
  internal/v1alpha1/aimservicetemplate/discovery_test.go
  internal/v1alpha1/aimservicetemplate/reconcile.go
  tests/e2e/aimservicetemplate/discovery/identity-rediscovery-no-thrashing/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery/identity-rediscovery-no-thrashing/model.yaml
  tests/e2e/aimservicetemplate/discovery/identity-rediscovery-no-thrashing/template.yaml
  tests/e2e/aimservicetemplate/discovery/identity-rediscovery-with-promotion/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery/identity-rediscovery-with-promotion/model.yaml
  tests/e2e/aimservicetemplate/discovery/identity-rediscovery-with-promotion/template.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

fix bug in test-release (#98)
  .github/workflows/compile-release.yaml
Due: none

MI350P support (#100)
  internal/utils/resources.go
Due: golangci-lint

Include serviceName in hash for uniqueness (#102)
  internal/v1alpha1/aimservice/kserve.go
  internal/v1alpha1/aimservice/kserve_test.go
Due: golangci-lint

Include template/profile name in cache name hash for uniqueness (#104)
  internal/v1alpha1/aimservice/caching.go
  internal/v1alpha1/aimservice/caching_test.go
  internal/v1alpha2/aimservice/reconcile.go
  internal/v1alpha2/aimservice/reconcile_test.go
Due: golangci-lint

Decoupled int-test chart and image version; suffix image with SHA (#103)
  .github/workflows/compile-release.yaml
  .github/workflows/publish-main.yml
  Makefile
Due: none

Change container registry reference of aim-base (#106)
  config/helm/values.yaml
  docs/docs/reference/helm-values.md
Due: none

Add AMD operator as dependency and fix helm chart URL (#107)
  docs/docs/admin/installation.md
  docs/docs/admin/monitoring.md
  docs/docs/admin/upgrading.md
  docs/docs/getting-started/installation.md
  docs/docs/reference/cli.md
Due: none

Chart and controller image migrate to dockerhub (#114)
  .github/workflows/compile-release.yaml
  .github/workflows/publish-main.yml
  Makefile
  docs/docs/contributing/release-process.md
Due: none

Release notes for v0.2.4 (#115)
  CHANGELOG.md
Due: none

Mapping helm values accelerator images into kustomize build install.yaml
  .pre-commit-config.yaml
  Makefile
  config/accelerator-detector/kustomization.yaml
Due: none

Mapping helm values accelerator images into kustomize build install.yaml (#42)
  .pre-commit-config.yaml
  Makefile
  config/accelerator-detector/kustomization.yaml
Due: none

redirect docs workflow
  .github/workflows/docs.yaml
  docs/redirect/docs/index.md
  docs/redirect/docs/stylesheets/extra.css
  docs/redirect/mkdocs.yml
  docs/redirect/overrides/main.html
  docs/redirect/requirements.txt
  docs/requirements.txt
Due: none

Tilt fix: align image replace for tilt live-reload with build-installer (#129)
  config/manager/kustomization.yaml
  hack/tilt/kustomize/kustomization.yaml
Due: none

fix: allow zero-byte files in download verification (#105)
  images/artifact-downloader/verify-files.py
Due: none

Add support for selectable fields, and add profile aimId as such (#133)
  CHANGELOG.md
  api/v1alpha2/aimclusterprofile_types.go
  api/v1alpha2/aimprofile_types.go
  config/crd/bases/aim.eai.amd.com_aimclusterprofiles.yaml
  config/crd/bases/aim.eai.amd.com_aimprofiles.yaml
  docs/docs/admin/upgrading.md
  docs/docs/concepts/profiles.md
  docs/docs/getting-started/installation.md
  tests/e2e/aimprofile/field-selector-aimid/chainsaw-test.yaml
  tests/e2e/aimprofile/field-selector-aimid/profiles.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Path conditions:
  make-generate: any of: ^api/
  make-manifests: any of: ^api/
  make-crd-docs: any of: ^api/
  third-party-licenses: any of: ^go\.(mod|sum)$
  golangci-lint: any of: \.go$
