Repository amd-enterprise-ai/aim-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-generate, make-manifests, make-crd-docs, third-party-licenses, golangci-lint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: branch-name-check
    name: Check branch name
    entry: bash -c 'branch=$(git rev-parse --abbrev-ref HEAD); if [[ ! "$branch" =~ ^(fix|feature|chore|ci|docs|refactor|perf|test)/.+ ]]; then echo "Error - Branch name must start with one of fix, feat, build, chore, ci, docs, refactor, perf, test, followed by / and descriptive text"; echo "Current branch is $branch"; exit 1; fi'
    language: system
    pass_filenames: false
    stages: [pre-push]

  - id: make-generate
    name: Run make generate
    entry: make generate
    language: system
    pass_filenames: false
    files: ^api/

  - id: make-manifests
    name: Run make manifests
    entry: make manifests
    language: system
    pass_filenames: false
    files: ^api/

  - id: make-crd-docs
    name: Run CRD docs generation
    entry: make generate-crd-docs
    language: system
    pass_filenames: false
    files: ^api/

  - id: third-party-licenses
    name: Generate third-party licenses
    entry: make third-party-licenses
    language: system
    pass_filenames: false
    files: ^go\.(mod|sum)$

  # - id: build-crds
  #   name: Build CRDs for Helm chart
  #   entry: bash -lc 'kubectl kustomize config/crd/ > crd/crds.yaml'
  #   language: system
  #   pass_filenames: false

  # - id: make-generate-crd-docs
  #   name: Run make generate-crd-docs
  #   entry: make generate-crd-docs
  #   language: system
  #   pass_filenames: false

  - id: golangci-lint
    name: golangci-lint
    description: Fast linters runner for Go. Note that only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
    entry: golangci-lint run --new-from-rev=HEAD --timeout 10m
    types: [ go ]
    language: system
    require_serial: true
    pass_filenames: false

- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [ --offset, "0", --sequence, "2", --mapping, "2", "--width", "4096", "--preserve-quotes", "--implicit_start", "--preserve_null" ]
    exclude: "(^config/prometheus/.*\\.ya?ml$)|(^docs/mkdocs\\.ya?ml$)|(^config/crd/.*\\.ya?ml$)||(^install.ya?ml$)|(^crd/.*\\.ya?ml$)|(^chart/templates/.*\\.(ya?ml|tpl)$)|(^.*/templates/.*\\.(ya?ml|tpl)$)"

add kvcachecontroller
  api/v1alpha1/aimkvcache_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/aim.eai.amd.com_aimkvcaches.yaml
  config/rbac/role.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimkvcache/helpers.go
  internal/aimkvcache/reconciler.go
  internal/controller/aimkvcache_controller.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Add status access methods to be compliant with the framework
  api/v1alpha1/aimkvcache_types.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

fix: reduce flaky e2e tests with real model sources (#24)
  tests/e2e/aimclustermodelsource/auto-sourcing/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/wildcard/chainsaw-test.yaml
  tests/e2e/aimmodel/auto-create-templates/chainsaw-test.yaml
  tests/e2e/aimmodel/error-recovery/chainsaw-test.yaml
  tests/e2e/aimmodel/invalid-image-pull-secret/chainsaw-test.yaml
  tests/e2e/aimmodel/spec-provided-metadata/chainsaw-test.yaml
  tests/e2e/aimservice/common/cache-cleanup/cache-cleanup-ready-preserved/chainsaw-test.yaml
  tests/e2e/aimservice/common/model-not-found/chainsaw-test.yaml
  tests/e2e/aimservice/common/template-not-found/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/all-ready/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/cluster-model-ready/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/model-failed/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/model-not-found/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/model-progressing/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/model-ready/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/template-failed/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/template-not-found/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/template-ready/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/cluster-service-template.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/service-template.yaml
  tests/e2e/aimtemplatecache/not-available-when-gpu-unavailable/chainsaw-test.yaml
Due: none

Update kvcache pipeline creation with ControllerName
  internal/controller/aimkvcache_controller.go
Due: golangci-lint

Generate kvcache resources when kustomizing
  config/crd/kustomization.yaml
Due: none

Update kvcache reconciler to make use of ComponentHealth
  internal/aimkvcache/reconciler.go
  internal/controller/utils/health_fetchers.go
Due: golangci-lint

Update kvcache api domain and remove old condition logic
  internal/aimkvcache/helpers.go
Due: golangci-lint

Give some extra time for pods to come up
  tests/e2e/aimkvcache/standalone/chainsaw-test.yaml
Due: none

Add generated resources
  config/crd/bases/aim.eai.amd.com_aimkvcaches.yaml
  config/rbac/role.yaml
Due: none

Add DecorateStatus to AIMKVCache to properly set relevant StatusFields
  api/v1alpha1/aimkvcache_types.go
  config/crd/bases/aim.eai.amd.com_aimkvcaches.yaml
  internal/aimkvcache/reconciler.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Re-setup recorder with correct name after pipeline creation
  internal/controller/aimkvcache_controller.go
Due: golangci-lint

Removed storageClassName since we're not using a values file atm
  tests/e2e/aimkvcache/custom-config/kvcache-custom-config.yaml
  tests/e2e/aimkvcache/custom-resources/kvcache-custom-resources.yaml
  tests/e2e/aimkvcache/status-lifecycle/kvcache-status-test.yaml
  tests/e2e/aimkvcache/updates/kvcache-updateable-initial.yaml
  tests/e2e/aimkvcache/updates/kvcache-updateable-updated.yaml
Due: none

Remove conditions now handled by the component health framework
  api/v1alpha1/aimkvcache_types.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Remove missed owner reference that is set by apply
  internal/aimkvcache/helpers.go
Due: golangci-lint

The framework adds controller reference
  internal/aimkvcache/helpers.go
  internal/aimkvcache/reconciler.go
Due: golangci-lint

Add standalone chainsaw tests
  tests/e2e/aimkvcache/standalone/chainsaw-test.yaml
  tests/e2e/aimkvcache/standalone/kvcache-basic.yaml
  tests/e2e/aimkvcache/standalone/kvcache-custom-config.yaml
  tests/e2e/aimkvcache/standalone/kvcache-custom-resources.yaml
  tests/e2e/aimkvcache/standalone/kvcache-status-test.yaml
  tests/e2e/aimkvcache/standalone/kvcache-updateable-initial.yaml
  tests/e2e/aimkvcache/standalone/kvcache-updateable-updated.yaml
Due: none

Controller name by norm is kvcache
  internal/controller/aimkvcache_controller.go
Due: golangci-lint

Split chainsaw test
  tests/e2e/aimkvcache/custom-config/chainsaw-test.yaml
  tests/e2e/aimkvcache/custom-config/kvcache-custom-config.yaml
  tests/e2e/aimkvcache/custom-resources/chainsaw-test.yaml
  tests/e2e/aimkvcache/custom-resources/kvcache-custom-resources.yaml
  tests/e2e/aimkvcache/standalone/chainsaw-test.yaml
  tests/e2e/aimkvcache/standalone/kvcache-basic.yaml
  tests/e2e/aimkvcache/status-lifecycle/chainsaw-test.yaml
  tests/e2e/aimkvcache/status-lifecycle/kvcache-status-test.yaml
  tests/e2e/aimkvcache/updates/chainsaw-test.yaml
  tests/e2e/aimkvcache/updates/kvcache-updateable-initial.yaml
  tests/e2e/aimkvcache/updates/kvcache-updateable-updated.yaml
Due: none

Add consistent license headers to files
  api/v1alpha1/aimkvcache_types.go
  internal/aimkvcache/helpers.go
  internal/aimkvcache/reconciler.go
  internal/controller/aimkvcache_controller.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Only build the StatefulSet and Service if they don't exist already
  internal/aimkvcache/reconciler.go
Due: golangci-lint

Remove storage class specifier in chainsaw test
  tests/e2e/aimkvcache/standalone/chainsaw-test.yaml
Due: none

Change status Ready reason in lifecycle test
  tests/e2e/aimkvcache/status-lifecycle/chainsaw-test.yaml
Due: none

initial draft of custom support
  api/v1alpha1/aimclustermodel_types.go
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/aimmodel_types.go
  api/v1alpha1/aimservice_types.go
  api/v1alpha1/discovery.go
  api/v1alpha1/runtime.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimtemplatecaches.yaml
  internal/aimmodel/hardware.go
  internal/aimmodel/hardware_test.go
  internal/aimmodel/reconcile.go
  internal/aimmodel/template.go
  internal/aimservice/caching.go
  internal/aimservice/model.go
  internal/aimservice/model_matching.go
  internal/aimservice/model_matching_test.go
  internal/aimservice/reconcile.go
  internal/aimservicetemplate/discovery.go
  internal/aimservicetemplate/discovery_test.go
  internal/aimtemplatecache/reconcile.go
  internal/constants/labels.go
  plan.md
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

lint fix
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservice/model.go
  internal/aimservice/model_matching.go
Due: golangci-lint

Watch for mismatch on mutable fields in StatefulSet and Service
  api/v1alpha1/aimkvcache_types.go
  config/crd/bases/aim.eai.amd.com_aimkvcaches.yaml
  internal/aimkvcache/helpers.go
  internal/aimkvcache/reconciler.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Unified download
  api/v1alpha1/aimmodelcache_types.go
  config/crd/bases/aim.eai.amd.com_aimmodelcaches.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimmodelcache/download.go
  internal/aimmodelcache/download.sh
  internal/aimservice/caching.go
  internal/aimservice/caching_test.go
  internal/aimservice/kserve.go
  internal/aimservice/kserve_test.go
  internal/aimservice/reconcile.go
  internal/aimservice/reconcile_test.go
  internal/aimtemplatecache/reconcile.go
  internal/constants/constants.go
  plan.md
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

plan feedback
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/runtime.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimmodel/hardware.go
  internal/aimmodel/template.go
  internal/aimmodel/template_test.go
  internal/aimservice/caching.go
  internal/aimservice/caching_test.go
  internal/aimservice/kserve.go
  internal/aimservice/model_matching.go
  internal/aimservice/reconcile.go
  internal/aimservice/selection.go
  internal/aimservice/selection_test.go
  internal/aimservice/template.go
  internal/aimservice/template_test.go
  internal/aimservice/testdata_test.go
  internal/aimservicetemplate/discovery.go
  internal/aimservicetemplate/discovery_test.go
  internal/aimservicetemplate/gpu.go
  internal/aimservicetemplate/utils.go
  internal/aimservicetemplate/utils_test.go
  internal/aimtemplatecache/reconcile.go
  plan.md
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Add KVCache support to AIMService
  api/v1alpha1/aimservice_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/rbac/role.yaml
  internal/aimservice/kserve.go
  internal/aimservice/kvcache.go
  internal/aimservice/reconcile.go
  internal/controller/aimservice_controller.go
  tests/e2e/aimservice/gpu/kvcache/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/kvcache/runtime-config.yaml
  tests/e2e/aimservice/gpu/kvcache/service-a.yaml
  tests/e2e/aimservice/gpu/kvcache/service-b.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Chainsaw tests updated to use new hardware approach
  internal/aimmodel/template.go
  tests/e2e/aimmodel/auto-create-templates/chainsaw-test.yaml
  tests/e2e/aimservice/common/auto-template-selection/template.yaml
  tests/e2e/aimservice/common/basic-lifecycle/template.yaml
  tests/e2e/aimservice/frozen/all-ready/template.yaml
  tests/e2e/aimservice/frozen/cluster-model-ready/cluster-template.yaml
  tests/e2e/aimservice/frozen/model-progressing/template.yaml
  tests/e2e/aimservice/frozen/model-ready/template.yaml
  tests/e2e/aimservice/frozen/template-failed/template.yaml
  tests/e2e/aimservice/frozen/template-ready/template.yaml
  tests/e2e/aimservicetemplate/discovery-cluster/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery-cluster/cluster-template.yaml
  tests/e2e/aimservicetemplate/discovery-namespace/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery-namespace/template.yaml
  tests/e2e/aimservicetemplate/inline-model-sources/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/inline-model-sources/template.yaml
  tests/e2e/aimtemplatecache/not-available-when-gpu-unavailable/service-template.yaml
Due: golangci-lint

Update image for kvcache test
  tests/e2e/aimservice/gpu/kvcache/service-a.yaml
  tests/e2e/aimservice/gpu/kvcache/service-b.yaml
Due: none

updated to toYaml
  config/helm/templates/aimclustermodelsource.yaml
  config/helm/values.yaml
Due: none

Added clustermodelsource to helm (3) (#22)
  config/helm/templates/aimclustermodelsource.yaml
  config/helm/values.yaml
Due: none

toYaml
  config/helm/templates/aimclusterruntimeconfig.yaml
Due: none

Add custom model downloader image
  .github/workflows/build-model-downloader.yaml
  api/v1alpha1/aimmodelcache_types.go
  config/crd/bases/aim.eai.amd.com_aimmodelcaches.yaml
  images/model-downloader/Dockerfile
  images/model-downloader/entrypoint.sh
  images/model-downloader/progress_monitor.sh
  internal/aimmodelcache/download-monitor.sh
  internal/aimmodelcache/download.go
  internal/aimmodelcache/download.sh
  internal/aimmodelcache/reconcile.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Workflow for helm and image
  .github/workflows/publish-main.yml
  Makefile
  config/helm/templates/aimclustermodelsource.yaml
  config/helm/templates/aimclusterruntimeconfig.yaml
  config/helm/values.yaml
Due: none

Fix tests workflow to install according to the crds split
  .github/workflows/test-e2e.yml
Due: none

Remove unused servicepvc code
  internal/aimservice/kserve.go
  internal/aimservice/reconcile.go
Due: golangci-lint

Add size checking to downloader
  api/v1alpha1/aimmodelcache_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimmodelcaches.yaml
  images/model-downloader/Dockerfile
  images/model-downloader/check-size.sh
  images/model-downloader/entrypoint.sh
  images/model-downloader/progress_monitor.sh
  internal/aimmodelcache/download.go
  internal/aimmodelcache/pvc.go
  internal/aimmodelcache/reconcile.go
  tests/e2e/aimmodelcache/basic-lifecycle-hf/chainsaw-test.yaml
  tests/e2e/aimmodelcache/size-discovery-and-verification/chainsaw-test.yaml
  tests/e2e/aimmodelcache/size-discovery-and-verification/minio-deployment.yaml
  tests/e2e/aimmodelcache/size-discovery-and-verification/minio-service.yaml
  tests/e2e/aimmodelcache/size-discovery-and-verification/minio-setup-job.yaml
  tests/e2e/aimmodelcache/size-discovery-and-verification/model-cache-hf.yaml
  tests/e2e/aimmodelcache/size-discovery-and-verification/model-cache-s3.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Fix kubebilder column in regards to gpuselector, and required modelId for modelSources
  api/v1alpha1/aimclusterservicetemplate_types.go
  api/v1alpha1/aimservicetemplate_types.go
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/service-template.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-has-wrong-scope/cluster-service-template.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-has-wrong-scope/service-template.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/cluster-service-template.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/service-template.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/service-template-ready.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/service-template.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

PR Feedback adressed
  api/v1alpha1/aimservice_types.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservice/reconcile.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint
