Repository amd-enterprise-ai/aim-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-generate, make-manifests, make-crd-docs, third-party-licenses, golangci-lint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: branch-name-check
    name: Check branch name
    entry: bash -c 'branch=$(git rev-parse --abbrev-ref HEAD); if [[ ! "$branch" =~ ^(fix|feature|chore|ci|docs|refactor|perf|test)/.+ ]]; then echo "Error - Branch name must start with one of fix, feat, build, chore, ci, docs, refactor, perf, test, followed by / and descriptive text"; echo "Current branch is $branch"; exit 1; fi'
    language: system
    pass_filenames: false
    stages: [pre-push]

  - id: make-generate
    name: Run make generate
    entry: make generate
    language: system
    pass_filenames: false
    files: ^api/

  - id: make-manifests
    name: Run make manifests
    entry: make manifests
    language: system
    pass_filenames: false
    files: ^api/

  - id: make-crd-docs
    name: Run CRD docs generation
    entry: make generate-crd-docs
    language: system
    pass_filenames: false
    files: ^api/

  - id: third-party-licenses
    name: Generate third-party licenses
    entry: make third-party-licenses
    language: system
    pass_filenames: false
    files: ^go\.(mod|sum)$

  # - id: build-crds
  #   name: Build CRDs for Helm chart
  #   entry: bash -lc 'kubectl kustomize config/crd/ > crd/crds.yaml'
  #   language: system
  #   pass_filenames: false

  # - id: make-generate-crd-docs
  #   name: Run make generate-crd-docs
  #   entry: make generate-crd-docs
  #   language: system
  #   pass_filenames: false

  - id: golangci-lint
    name: golangci-lint
    description: Fast linters runner for Go. Note that only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
    entry: golangci-lint run --new-from-rev=HEAD --timeout 10m
    types: [ go ]
    language: system
    require_serial: true
    pass_filenames: false

- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [ --offset, "0", --sequence, "2", --mapping, "2", "--width", "4096", "--preserve-quotes", "--implicit_start", "--preserve_null" ]
    exclude: "(^config/prometheus/.*\\.ya?ml$)|(^docs/mkdocs\\.ya?ml$)|(^config/crd/.*\\.ya?ml$)||(^install.ya?ml$)|(^crd/.*\\.ya?ml$)|(^chart/templates/.*\\.(ya?ml|tpl)$)|(^.*/templates/.*\\.(ya?ml|tpl)$)"

refactor(discovery): replace in-memory semaphore with Kubernetes Lease-based lock
  config/rbac/role.yaml
  internal/aimservicetemplate/discovery_lock.go
  internal/aimservicetemplate/job_semaphore.go
  internal/aimservicetemplate/job_semaphore_test.go
  internal/aimservicetemplate/reconcile.go
  internal/aimservicetemplate/reconcile_semaphore_test.go
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimservicetemplate_controller.go
Due: golangci-lint

fix(discovery): improve circuit breaker with spec hash and cluster sync
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservicetemplate/discovery.go
  internal/aimservicetemplate/job_semaphore.go
  internal/aimservicetemplate/reconcile.go
  internal/constants/constants.go
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimservicetemplate_controller.go
Due: golangci-lint

fix(discovery): release orphaned semaphore slots when no job exists
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimservicetemplate_controller.go
Due: golangci-lint

fix(discovery): prevent stale reconciles from regressing Discovered condition
  internal/aimservicetemplate/reconcile.go
  tests/e2e/aimservicetemplate/discovery/concurrent-limit/chainsaw-test.yaml
Due: golangci-lint

CEL validations improved, docs added, fix gpu resolvement for kserve.go, remove pvc references in kserve.go
  api/v1alpha1/aimmodel_shared.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  docs/docs/concepts/models.md
  internal/aimservice/kserve.go
  internal/aimservicetemplate/utils.go
  tests/e2e/aimservice/frozen/custom-model/model.yaml
  tests/e2e/aimservice/gpu/custom-model/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/custom-model/service.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Make DisplaySize a human readable string with two significant digits
  internal/aimmodelcache/reconcile.go
  internal/aimservice/kserve.go
  internal/utils/format.go
  internal/utils/format_test.go
Due: golangci-lint

Install necessary RBAC when creating kind cluster
  Makefile
Due: none

Debug output when kubectl fails
  images/artifact-downloader/progress-monitor.sh
Due: none

kserve entrypoint shim
  images/artifact-downloader/Dockerfile
  images/artifact-downloader/kserve-entrypoint.sh
Due: none

Fix format handling
  internal/utils/format.go
  internal/utils/format_test.go
Due: golangci-lint

Pass effective size to buildDownloadJob, since it computed in state now
  internal/aimmodelcache/download.go
  internal/aimmodelcache/reconcile.go
Due: golangci-lint

Fix unit tests
  internal/utils/format_test.go
Due: golangci-lint

Remove leftover comment
  api/v1alpha1/aimmodelcache_types.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Fix handling of env var HF_HOME
  images/artifact-downloader/entrypoint.sh
  internal/aimmodelcache/download.go
Due: golangci-lint

Add generated file
  config/crd/bases/aim.eai.amd.com_aimmodelcaches.yaml
Due: none

Create AIMModel.Spec.Custom for hardware, type and templates
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  docs/docs/concepts/models.md
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimmodel/template.go
  internal/aimservice/model.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Unify model cache creation through AIMTemplateCache with Mode field
  api/v1alpha1/aimmodelcache_types.go
  api/v1alpha1/aimtemplatecache_types.go
  config/crd/bases/aim.eai.amd.com_aimmodelcaches.yaml
  config/crd/bases/aim.eai.amd.com_aimtemplatecaches.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimmodelcache/reconcile.go
  internal/aimservice/caching.go
  internal/aimservice/caching_test.go
  internal/aimservice/kserve.go
  internal/aimservice/kserve_test.go
  internal/aimservice/reconcile.go
  internal/aimservice/reconcile_test.go
  internal/aimtemplatecache/reconcile.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Require atleast one of gpu or cpu if hardware is specified. Also cpu.requests if cpu is specified.
  api/v1alpha1/runtime.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimmodel/hardware_test.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Remove resolveModelID function, modelId is now required
  internal/aimmodelcache/download.go
Due: golangci-lint

Add CEL validation for GPU model names, allow zero GPU requests
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/runtime.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservicetemplate/utils_test.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Fix/discovery circuit breaker improvements (#27)
  .pre-commit-config.yaml
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  config/rbac/role.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservicetemplate/discovery.go
  internal/aimservicetemplate/discovery_lock.go
  internal/aimservicetemplate/reconcile.go
  internal/constants/constants.go
  internal/controller/aimclustermodel_controller.go
  internal/controller/aimclustermodelsource_controller.go
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimmodel_controller.go
  internal/controller/aimmodelcache_controller.go
  internal/controller/aimservice_controller.go
  internal/controller/aimservicetemplate_controller.go
  internal/controller/aimtemplatecache_controller.go
  internal/controller/utils/reconciler.go
  internal/controller/utils/reconciler_test.go
  tests/e2e/aimservicetemplate/discovery/concurrent-limit/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery/concurrent-limit/generate-templates.sh
  tests/e2e/aimservicetemplate/discovery/concurrent-limit/model.yaml
  tests/e2e/aimservicetemplate/discovery/concurrent-limit/templates.yaml
  tests/e2e/aimservicetemplate/discovery/happy-path-cluster/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery/happy-path-cluster/cluster-model.yaml
  tests/e2e/aimservicetemplate/discovery/happy-path-cluster/cluster-template.yaml
  tests/e2e/aimservicetemplate/discovery/happy-path-namespace/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery/happy-path-namespace/model.yaml
  tests/e2e/aimservicetemplate/discovery/happy-path-namespace/template.yaml
  tests/e2e/aimservicetemplate/discovery/success-with-failures/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery/success-with-failures/model-fail.yaml
  tests/e2e/aimservicetemplate/discovery/success-with-failures/model-success.yaml
  tests/e2e/aimservicetemplate/discovery/success-with-failures/template-success.yaml
  tests/e2e/aimservicetemplate/discovery/success-with-failures/templates-fail.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Adapt fix modelcache update role install
  Makefile
  config/rbac/aimmodelcache_status_updater_role.yaml
  config/rbac/role.yaml
  internal/aimmodelcache/download.go
  internal/aimmodelcache/reconcile.go
  internal/controller/aimmodelcache_controller.go
  internal/controller/utils/health_fetchers.go
Due: golangci-lint

Add stall detection test
  tests/e2e/aimmodelcache/stall-detection/chainsaw-test.yaml
  tests/e2e/aimmodelcache/stall-detection/model-cache.yaml
  tests/e2e/aimmodelcache/stall-detection/runtime.yaml
Due: none

Fix chainsaw test for allocatedSize and cosmetic kubebuild marker for rbac
  internal/controller/aimmodelcache_controller.go
  tests/e2e/aimmodelcache/size-discovery-and-verification/chainsaw-test.yaml
Due: golangci-lint

Install RBAC to local kind with kustomize for prefix
  Makefile
  config/local-dev-kind/kustomization.yaml
Due: none

Add artifact download image (#26)
  .github/workflows/build-model-downloader.yaml
  .github/workflows/test-e2e.yml
  Makefile
  api/v1alpha1/aimmodelcache_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimmodelcaches.yaml
  config/local-dev-kind/kustomization.yaml
  config/rbac/aimmodelcache_status_updater_role.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  images/artifact-downloader/Dockerfile
  images/artifact-downloader/check-size.sh
  images/artifact-downloader/check-size/check-hf-size.py
  images/artifact-downloader/entrypoint.sh
  images/artifact-downloader/kserve-entrypoint.sh
  images/artifact-downloader/progress-monitor.sh
  internal/aimmodelcache/download-monitor.sh
  internal/aimmodelcache/download.go
  internal/aimmodelcache/download.sh
  internal/aimmodelcache/pvc.go
  internal/aimmodelcache/reconcile.go
  internal/aimservice/kserve.go
  internal/controller/aimmodelcache_controller.go
  internal/controller/utils/health_fetchers.go
  internal/utils/format.go
  internal/utils/format_test.go
  tests/e2e/aimmodelcache/basic-lifecycle-hf/chainsaw-test.yaml
  tests/e2e/aimmodelcache/size-discovery-and-verification/chainsaw-test.yaml
  tests/e2e/aimmodelcache/size-discovery-and-verification/minio-deployment.yaml
  tests/e2e/aimmodelcache/size-discovery-and-verification/minio-service.yaml
  tests/e2e/aimmodelcache/size-discovery-and-verification/minio-setup-job.yaml
  tests/e2e/aimmodelcache/size-discovery-and-verification/model-cache-hf.yaml
  tests/e2e/aimmodelcache/size-discovery-and-verification/model-cache-s3.yaml
  tests/e2e/aimmodelcache/stall-detection/chainsaw-test.yaml
  tests/e2e/aimmodelcache/stall-detection/model-cache.yaml
  tests/e2e/aimmodelcache/stall-detection/runtime.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Various pr feedback docs
  docs/docs/concepts/models.md
Due: none

no imagedatahealth for custom
  docs/docs/concepts/models.md
  internal/aimmodel/reconcile.go
Due: golangci-lint

Fix servicetemplate build, remove profiletype from passing, propagate cpu resources
  internal/aimmodel/reconcile.go
  internal/aimmodel/template.go
Due: golangci-lint

Add Type field to template spec, resolvedHardware to status, template alias label
  api/v1alpha1/aimclusterservicetemplate_types.go
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/aimservicetemplate_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimmodel/hardware.go
  internal/aimmodel/template.go
  internal/aimservice/kserve.go
  internal/aimservicetemplate/reconcile.go
  internal/constants/labels.go
  tests/e2e/aimmodel/auto-create-templates/model.yaml
  tests/e2e/aimmodel/cluster-scoped-templates/model.yaml
  tests/e2e/aimmodel/custom-models/template-creation/chainsaw-test.yaml
  tests/e2e/aimmodel/custom-models/template-creation/model.yaml
  tests/e2e/aimmodel/error-recovery/model.yaml
  tests/e2e/aimmodel/invalid-image-pull-secret/model.yaml
  tests/e2e/aimmodel/template-garbage-collection/model.yaml
  tests/e2e/aimservice/common/auto-template-selection/chainsaw-test.yaml
  tests/e2e/aimservice/common/auto-template-selection/model.yaml
  tests/e2e/aimservice/common/autoscaling/chainsaw-test.yaml
  tests/e2e/aimservice/common/autoscaling/model.yaml
  tests/e2e/aimservice/common/basic-lifecycle/chainsaw-test.yaml
  tests/e2e/aimservice/common/basic-lifecycle/model.yaml
  tests/e2e/aimservice/common/cache-cleanup/cache-cleanup-failed-deleted/service.yaml
  tests/e2e/aimservice/common/cache-cleanup/cache-cleanup-ready-preserved/service.yaml
  tests/e2e/aimservice/common/caching-mode-never/chainsaw-test.yaml
  tests/e2e/aimservice/common/caching-mode-never/model.yaml
  tests/e2e/aimservice/common/label-propagation/service.yaml
  tests/e2e/aimservice/common/model-by-image/chainsaw-test.yaml
  tests/e2e/aimservice/common/model-by-image/service.yaml
  tests/e2e/aimservice/common/replicas/chainsaw-test.yaml
  tests/e2e/aimservice/common/replicas/model.yaml
  tests/e2e/aimservice/common/template-not-found/model.yaml
  tests/e2e/aimservice/frozen/custom-model/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/inline-model-sources/model.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/model.yaml
  tests/e2e/aimtemplatecache/not-available-when-gpu-unavailable/model.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Remove deprecated GenerateDedicatedModelCacheName function
  internal/aimservice/caching.go
Due: golangci-lint

Added minvram example
  docs/docs/concepts/models.md
Due: none

Move custom.templates to customTemplates
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/runtime.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimmodel/reconcile.go
  internal/aimmodel/template.go
  internal/aimservice/model.go
  tests/e2e/aimmodel/custom-models/template-creation/model.yaml
  tests/e2e/aimservice/frozen/custom-model/model.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Additive template creation
  api/v1alpha1/aimmodel_shared.go
  internal/aimmodel/reconcile.go
  tests/e2e/aimmodel/additive-custom-templates/chainsaw-test.yaml
  tests/e2e/aimmodel/additive-custom-templates/model.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Check for greater than 2 templates
  tests/e2e/aimmodel/additive-custom-templates/chainsaw-test.yaml
Due: none

Various fixes on custom-model pr (#33)
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/runtime.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  docs/docs/concepts/models.md
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimmodel/hardware_test.go
  internal/aimmodel/reconcile.go
  internal/aimmodel/template.go
  internal/aimservice/model.go
  tests/e2e/aimmodel/additive-custom-templates/chainsaw-test.yaml
  tests/e2e/aimmodel/additive-custom-templates/model.yaml
  tests/e2e/aimmodel/custom-models/template-creation/model.yaml
  tests/e2e/aimservice/frozen/custom-model/model.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Add CEL validation for GPU model names, allow zero GPU requests
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/runtime.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Add Type field to template spec, resolvedHardware to status, template alias label
  internal/aimmodel/template.go
Due: golangci-lint
