Repository amd-enterprise-ai/aim-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-generate, make-manifests, make-crd-docs, third-party-licenses, golangci-lint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: branch-name-check
    name: Check branch name
    entry: bash -c 'branch=$(git rev-parse --abbrev-ref HEAD); if [[ ! "$branch" =~ ^(fix|feature|chore|ci|docs|refactor|perf|test)/.+ ]]; then echo "Error - Branch name must start with one of fix, feat, build, chore, ci, docs, refactor, perf, test, followed by / and descriptive text"; echo "Current branch is $branch"; exit 1; fi'
    language: system
    pass_filenames: false
    stages: [pre-push]

  - id: make-generate
    name: Run make generate
    entry: make generate
    language: system
    pass_filenames: false
    files: ^api/

  - id: make-manifests
    name: Run make manifests
    entry: make manifests
    language: system
    pass_filenames: false
    files: ^api/

  - id: make-crd-docs
    name: Run CRD docs generation
    entry: make generate-crd-docs
    language: system
    pass_filenames: false
    files: ^api/

  - id: third-party-licenses
    name: Generate third-party licenses
    entry: make third-party-licenses
    language: system
    pass_filenames: false
    files: ^go\.(mod|sum)$

  # - id: build-crds
  #   name: Build CRDs for Helm chart
  #   entry: bash -lc 'kubectl kustomize config/crd/ > crd/crds.yaml'
  #   language: system
  #   pass_filenames: false

  # - id: make-generate-crd-docs
  #   name: Run make generate-crd-docs
  #   entry: make generate-crd-docs
  #   language: system
  #   pass_filenames: false

  - id: golangci-lint
    name: golangci-lint
    description: Fast linters runner for Go. Note that only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
    entry: golangci-lint run --new-from-rev=HEAD --timeout 10m
    types: [ go ]
    language: system
    require_serial: true
    pass_filenames: false

- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [ --offset, "0", --sequence, "2", --mapping, "2", "--width", "4096", "--preserve-quotes", "--implicit_start", "--preserve_null" ]
    exclude: "(^config/prometheus/.*\\.ya?ml$)|(^docs/mkdocs\\.ya?ml$)|(^config/crd/.*\\.ya?ml$)||(^install.ya?ml$)|(^crd/.*\\.ya?ml$)|(^chart/templates/.*\\.(ya?ml|tpl)$)|(^.*/templates/.*\\.(ya?ml|tpl)$)"

refactoring aim service domain files
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/aimmodelcache_types.go
  api/v1alpha1/aimservice_types.go
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/aimtemplatecache_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/dev/controller-patterns.md
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservice/caching.go
  internal/aimservice/fetch.go
  internal/aimservice/gpu.go
  internal/aimservice/httproute.go
  internal/aimservice/kserve.go
  internal/aimservice/model.go
  internal/aimservice/plan.go
  internal/aimservice/reconcile.go
  internal/aimservice/selection.go
  internal/aimservice/template.go
  internal/constants/constants.go
  internal/utils/resources.go
  internal/utils/selection.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

auto-gen files
  config/rbac/role.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
Due: none

remove magic strings, fix inconsistent naming
  internal/aimservice/caching.go
  internal/aimservice/httproute.go
  internal/aimservice/kserve.go
  internal/aimservice/model.go
  internal/aimservice/template.go
  internal/constants/constants.go
Due: golangci-lint

aimservice docs
  docs/docs/concepts/service.md
Due: none

auto-generated files
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  config/rbac/role.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservicetemplate/discovery.go
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimservicetemplate_controller.go
  tests/e2e/aimservice/kind/auto-template-selection/chainsaw-test.yaml
  tests/e2e/aimservice/kind/auto-template-selection/model.yaml
  tests/e2e/aimservice/kind/auto-template-selection/service.yaml
  tests/e2e/aimservice/kind/auto-template-selection/template.yaml
  tests/e2e/aimservice/kind/basic-lifecycle/chainsaw-test.yaml
  tests/e2e/aimservice/kind/basic-lifecycle/model.yaml
  tests/e2e/aimservice/kind/basic-lifecycle/service.yaml
  tests/e2e/aimservice/kind/basic-lifecycle/template.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/model.yaml
Due: golangci-lint

update frozen tests, ci command, makefile for chainsaw test targets
  .github/workflows/test-e2e.yml
  Makefile
  tests/e2e/aimmodelcache/basic-lifecycle-hf/chainsaw-test.yaml
  tests/e2e/aimmodelcache/basic-lifecycle-s3/chainsaw-test.yaml
  tests/e2e/aimmodelcache/failure-storage/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/model-failed/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/service-template.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/service-template.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/service-template-ready.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/service-template.yaml
Due: none

fix tests, kind setup
  hack/run-manager.sh
Due: none

add Claude instructions
  CLAUDE.md
Due: none

add air for live reloading
  .air.toml
  .gitignore
  Makefile
  mise.toml
Due: none

fix tests, add isvc event detection
  api/v1alpha1/aimservice_types.go
  hack/dependencies/helmfile.yaml.gotmpl
  internal/aimservice/kserve.go
  internal/aimservice/reconcile.go
  internal/aimtemplatecache/reconcile.go
  internal/controller/aimservice_controller.go
  tests/e2e/aimservice/kind/auto-template-selection/chainsaw-test.yaml
  tests/e2e/aimservice/kind/auto-template-selection/model.yaml
  tests/e2e/aimservice/kind/basic-lifecycle/chainsaw-test.yaml
  tests/e2e/aimservice/kind/basic-lifecycle/model.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/model.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

fix tests, kind setup
  .air.toml
  CLAUDE.md
  Makefile
  internal/aimmodel/reconcile.go
  internal/controller/utils/reconciler.go
  tests/e2e/aimmodelcache/basic-lifecycle-hf/chainsaw-test.yaml
  tests/e2e/aimmodelcache/basic-lifecycle-hf/model-cache.yaml
  tests/e2e/aimmodelcache/failure-auth-hf/chainsaw-test.yaml
Due: golangci-lint

fix httproute template issues
  internal/aimmodel/reconcile.go
  internal/aimservice/httproute.go
  internal/aimservice/httproute_template.go
  internal/aimservice/httproute_template_test.go
  internal/aimservice/httproute_test.go
  tests/e2e/aimservice/gpu/happy-path/cached/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/happy-path/cached/runtime-config.yaml
  tests/e2e/aimservice/gpu/happy-path/non-cached/runtime-config.yaml
  tests/e2e/aimservice/gpu/pending-resources/chainsaw-test.yaml
Due: golangci-lint

fix missing auto-scaling, tests
  Makefile
  api/v1alpha1/aimservice_types.go
  api/v1alpha1/autoscaling_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/admin/kserve-configuration.md
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  hack/dependencies/helmfile.yaml.gotmpl
  internal/aimservice/kserve.go
  internal/constants/constants.go
  tests/e2e/aimservice/common/auto-template-selection/chainsaw-test.yaml
  tests/e2e/aimservice/common/auto-template-selection/model.yaml
  tests/e2e/aimservice/common/auto-template-selection/service.yaml
  tests/e2e/aimservice/common/auto-template-selection/template.yaml
  tests/e2e/aimservice/common/autoscaling/chainsaw-test.yaml
  tests/e2e/aimservice/common/autoscaling/model.yaml
  tests/e2e/aimservice/common/autoscaling/service.yaml
  tests/e2e/aimservice/common/basic-lifecycle/chainsaw-test.yaml
  tests/e2e/aimservice/common/basic-lifecycle/model.yaml
  tests/e2e/aimservice/common/basic-lifecycle/service.yaml
  tests/e2e/aimservice/common/basic-lifecycle/template.yaml
  tests/e2e/aimservice/common/caching-mode-never/chainsaw-test.yaml
  tests/e2e/aimservice/common/caching-mode-never/model.yaml
  tests/e2e/aimservice/common/caching-mode-never/service.yaml
  tests/e2e/aimservice/common/model-by-image/chainsaw-test.yaml
  tests/e2e/aimservice/common/model-by-image/service.yaml
  tests/e2e/aimservice/common/model-not-found/chainsaw-test.yaml
  tests/e2e/aimservice/common/model-not-found/service.yaml
  tests/e2e/aimservice/common/replicas/chainsaw-test.yaml
  tests/e2e/aimservice/common/replicas/model.yaml
  tests/e2e/aimservice/common/replicas/service.yaml
  tests/e2e/aimservice/common/template-not-found/chainsaw-test.yaml
  tests/e2e/aimservice/common/template-not-found/model.yaml
  tests/e2e/aimservice/common/template-not-found/service.yaml
  tests/e2e/aimservice/gpu/happy-path/cached/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/happy-path/non-cached/chainsaw-test.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

feat(service): add HTTPRoute health check and fix route creation
  api/v1alpha1/aimclusterservicetemplate_types.go
  api/v1alpha1/aimmodelcache_types.go
  api/v1alpha1/aimservice_types.go
  api/v1alpha1/aimservicetemplate_types.go
  api/v1alpha1/aimtemplatecache_types.go
  hack/dependencies/gateway.yaml
  hack/dependencies/helmfile.yaml.gotmpl
  internal/aimclustermodelsource/builder.go
  internal/aimservice/httproute.go
  internal/aimservice/httproute_test.go
  internal/aimservice/kserve_test.go
  internal/aimservice/reconcile.go
  internal/controller/utils/health_fetchers.go
  tests/e2e/aimservice/gpu/happy-path/cached/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/happy-path/cached/runtime-config.yaml
  tests/e2e/aimservice/gpu/happy-path/cached/service.yaml
  tests/e2e/aimservice/gpu/happy-path/non-cached/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/happy-path/non-cached/runtime-config.yaml
  tests/e2e/aimservice/gpu/happy-path/non-cached/service.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

feat(routing): add URL rewrite filter to strip path prefix
  internal/aimservice/httproute.go
Due: golangci-lint

test(gpu): add chat completions validation to happy path tests
  tests/e2e/aimservice/gpu/_shared/validate-http.sh
  tests/e2e/aimservice/gpu/happy-path/cached/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/happy-path/cached/runtime-config.yaml
  tests/e2e/aimservice/gpu/happy-path/non-cached/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/happy-path/non-cached/runtime-config.yaml
Due: none

Added pull-request
  .github/workflows/publish-chart.yml
Due: none

fix pr issues, env field, aim engine arg deep merge
  api/v1alpha1/aimruntimeconfig_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclusterruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimmodelcache/download.go
  internal/aimservice/kserve.go
  internal/aimservice/kserve_test.go
  internal/controller/aimmodelcache_controller.go
  internal/controller/utils/apply_test.go
  internal/utils/utils.go
  internal/utils/utils_test.go
  tests/e2e/aimservice/common/label-propagation/chainsaw-test.yaml
  tests/e2e/aimservice/common/label-propagation/runtimeconfig.yaml
  tests/e2e/aimservice/common/label-propagation/service.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

temp checkout for testing
  .github/workflows/publish-chart.yml
Due: none

Remove temporary tests
  .github/workflows/publish-chart.yml
Due: none

Added templateable clusterruntimeconfig to helm
  Makefile
  config/helm/templates/aimclusterruntimeconfig.yaml
  config/helm/values.yaml
Due: none

fix template cleaning test
  internal/aimtemplatecache/reconcile.go
  internal/constants/constants.go
  internal/controller/aimservice_controller.go
  internal/controller/aimtemplatecache_controller.go
  internal/controller/utils/apply.go
  tests/e2e/aimservice/common/cache-cleanup/cache-cleanup-failed-deleted/chainsaw-test.yaml
  tests/e2e/aimservice/common/cache-cleanup/cache-cleanup-failed-deleted/runtimeconfig.yaml
  tests/e2e/aimservice/common/cache-cleanup/cache-cleanup-failed-deleted/service.yaml
  tests/e2e/aimservice/common/cache-cleanup/cache-cleanup-ready-preserved/chainsaw-test.yaml
  tests/e2e/aimservice/common/cache-cleanup/cache-cleanup-ready-preserved/service.yaml
  third-party-licenses/k8s.io/client-go/third_party/forked/golang/template/LICENSE
Due: golangci-lint

Initial aimclustermodelsource
  config/helm/templates/aimclustermodelsource.yaml
  config/helm/values.yaml
Due: none

makefile targets
  Makefile
Due: none

Change name to default as picked up by aimservice
  config/helm/values.yaml
Due: none

Comment out all values for runtimeconfig
  config/helm/values.yaml
Due: none

CI debug logS
  .github/workflows/test-chart.yml
  .github/workflows/test-e2e.yml
  config/manager/kustomization.yaml
Due: none

add missing rbac markers
  config/rbac/role.yaml
  internal/controller/aimservice_controller.go
Due: golangci-lint

workflow security hardening
  .github/workflows/lint.yml
  .github/workflows/test-chart.yml
  .github/workflows/test-e2e.yml
Due: none

address PR comments
  Makefile
  api/v1alpha1/aimservice_types.go
  docs/docs/concepts/service.md
  hack/apply-with-status.sh
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

remove redundant CI file
  .github/workflows/test-chart.yml
Due: none

address PR comments
  docs/docs/concepts/service.md
  internal/aimservice/selection.go
Due: golangci-lint

Added projection of replicas to aimservice
  api/v1alpha1/aimservice_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservice/kserve.go
  internal/aimservice/reconcile.go
  internal/controller/aimservice_controller.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

fix: nil pointer safety and ISVC fetch guard
  internal/aimservice/reconcile.go
  internal/aimservice/selection.go
Due: golangci-lint

Added autoscaling rbac to HPA
  config/rbac/role.yaml
Due: none

added rbac to kubeubuilder for aimservice
  config/rbac/role.yaml
  internal/controller/aimservice_controller.go
Due: golangci-lint

fix: reduce flaky e2e tests with real model sources
  tests/e2e/aimclustermodelsource/auto-sourcing/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/wildcard/chainsaw-test.yaml
  tests/e2e/aimmodel/auto-create-templates/chainsaw-test.yaml
  tests/e2e/aimmodel/error-recovery/chainsaw-test.yaml
  tests/e2e/aimmodel/invalid-image-pull-secret/chainsaw-test.yaml
  tests/e2e/aimmodel/spec-provided-metadata/chainsaw-test.yaml
  tests/e2e/aimservice/common/cache-cleanup/cache-cleanup-ready-preserved/chainsaw-test.yaml
  tests/e2e/aimservice/common/model-not-found/chainsaw-test.yaml
  tests/e2e/aimservice/common/template-not-found/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/all-ready/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/cluster-model-ready/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/model-failed/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/model-not-found/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/model-progressing/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/model-ready/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/template-failed/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/template-not-found/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/template-ready/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/cluster-service-template.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/service-template.yaml
  tests/e2e/aimtemplatecache/not-available-when-gpu-unavailable/chainsaw-test.yaml
Due: none
