Repository amd-enterprise-ai/aim-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-generate, make-manifests, make-crd-docs, third-party-licenses, golangci-lint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: branch-name-check
    name: Check branch name
    entry: bash -c 'branch=$(git rev-parse --abbrev-ref HEAD); if [[ ! "$branch" =~ ^(fix|feature|chore|ci|docs|refactor|perf|test)/.+ ]]; then echo "Error - Branch name must start with one of fix, feat, build, chore, ci, docs, refactor, perf, test, followed by / and descriptive text"; echo "Current branch is $branch"; exit 1; fi'
    language: system
    pass_filenames: false
    stages: [pre-push]

  - id: make-generate
    name: Run make generate
    entry: make generate
    language: system
    pass_filenames: false
    files: ^api/

  - id: make-manifests
    name: Run make manifests
    entry: make manifests
    language: system
    pass_filenames: false
    files: ^api/

  - id: make-crd-docs
    name: Run CRD docs generation
    entry: make generate-crd-docs
    language: system
    pass_filenames: false
    files: ^api/

  - id: third-party-licenses
    name: Generate third-party licenses
    entry: make third-party-licenses
    language: system
    pass_filenames: false
    files: ^go\.(mod|sum)$

  # - id: build-crds
  #   name: Build CRDs for Helm chart
  #   entry: bash -lc 'kubectl kustomize config/crd/ > crd/crds.yaml'
  #   language: system
  #   pass_filenames: false

  # - id: make-generate-crd-docs
  #   name: Run make generate-crd-docs
  #   entry: make generate-crd-docs
  #   language: system
  #   pass_filenames: false

  - id: golangci-lint
    name: golangci-lint
    description: Fast linters runner for Go. Note that only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
    entry: golangci-lint run --new-from-rev=HEAD --timeout 10m
    types: [ go ]
    language: system
    require_serial: true
    pass_filenames: false

- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [ --offset, "0", --sequence, "2", --mapping, "2", "--width", "4096", "--preserve-quotes", "--implicit_start", "--preserve_null" ]
    exclude: "(^config/prometheus/.*\\.ya?ml$)|(^docs/mkdocs\\.ya?ml$)|(^config/crd/.*\\.ya?ml$)||(^install.ya?ml$)|(^crd/.*\\.ya?ml$)|(^chart/templates/.*\\.(ya?ml|tpl)$)|(^.*/templates/.*\\.(ya?ml|tpl)$)"

Change GPU models from list to single string
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimmodel/hardware.go
  internal/aimmodel/hardware_test.go
  internal/aimmodel/template.go
  internal/aimmodel/template_test.go
  internal/aimservice/kserve.go
  internal/aimservice/selection.go
  internal/aimservice/selection_test.go
  internal/aimservice/template.go
  internal/aimservice/template_test.go
  internal/aimservice/testdata_test.go
  internal/aimservicetemplate/discovery.go
  internal/aimservicetemplate/discovery_test.go
  internal/aimservicetemplate/gpu.go
  internal/aimservicetemplate/reconcile.go
  internal/aimservicetemplate/utils.go
  internal/aimservicetemplate/utils_test.go
  tests/e2e/aimmodel/auto-create-templates/chainsaw-test.yaml
  tests/e2e/aimmodel/custom-models/template-creation/chainsaw-test.yaml
  tests/e2e/aimmodel/custom-models/template-creation/model.yaml
  tests/e2e/aimservice/common/auto-template-selection/template.yaml
  tests/e2e/aimservice/common/basic-lifecycle/template.yaml
  tests/e2e/aimservice/frozen/all-ready/template.yaml
  tests/e2e/aimservice/frozen/cluster-model-ready/cluster-template.yaml
  tests/e2e/aimservice/frozen/model-progressing/template.yaml
  tests/e2e/aimservice/frozen/model-ready/template.yaml
  tests/e2e/aimservice/frozen/template-failed/template.yaml
  tests/e2e/aimservice/frozen/template-ready/template.yaml
  tests/e2e/aimservicetemplate/discovery-cluster/cluster-template.yaml
  tests/e2e/aimservicetemplate/discovery-namespace/template.yaml
  tests/e2e/aimservicetemplate/inline-model-sources/template.yaml
  tests/e2e/aimtemplatecache/not-available-when-gpu-unavailable/service-template.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Fix e2e tests to use singular gpu.model field
  tests/e2e/aimmodel/additive-custom-templates/chainsaw-test.yaml
  tests/e2e/aimmodel/additive-custom-templates/model.yaml
  tests/e2e/aimservice/gpu/custom-model/service.yaml
Due: none

Replica status added on AIMService (#28)
  api/v1alpha1/aimservice_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/rbac/role.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservice/kserve.go
  internal/aimservice/reconcile.go
  internal/controller/aimservice_controller.go
  tests/e2e/aimservice/common/replicas-default/chainsaw-test.yaml
  tests/e2e/aimservice/common/replicas-default/model.yaml
  tests/e2e/aimservice/common/replicas-default/service.yaml
  tests/e2e/aimservice/common/replicas/chainsaw-test.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Fix custom model test to use spec.custom.hardware
  tests/e2e/aimmodel/custom-models/template-creation/model.yaml
Due: none

Update README.md
  README.md
Due: none

Fix AIMTemplateCache to respect templateScope field
  internal/aimtemplatecache/reconcile.go
Due: golangci-lint

Remove ROCm reference
  README.md
Due: none

Add chainsaw config files for different environments
  Makefile
  tests/chainsaw/config/gpu.yaml
  tests/chainsaw/config/kind-ci.yaml
  tests/chainsaw/config/kind.yaml
Due: none

Update example to qwen3, and remove confusing 'hierarchical' reference
  README.md
Due: none

Remove helm reference, and note on labels
  README.md
Due: none

Update root README.md (#35)
  README.md
Due: none

Fix autoscaling test to right aim-dummy, watch to compile go
  Makefile
  tests/e2e/aimservice/common/autoscaling/model.yaml
Due: none

Add envvar AIM_MODEL_ID, remove deprecated code
  Makefile
  internal/aimservice/kserve.go
  internal/aimservicetemplate/gpu.go
  internal/aimservicetemplate/gpu_test.go
  internal/constants/constants.go
  tests/e2e/aimservice/gpu/custom-model/service.yaml
Due: golangci-lint

Use templateCache to resolve PVC instead of modelCaches
  internal/aimservice/caching.go
  internal/aimservice/kserve.go
  internal/aimservice/reconcile.go
Due: golangci-lint

Remove watch of modelCache from aimservice
  internal/controller/aimservice_controller.go
Due: golangci-lint

change size to optional in CEL and comments
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/aimservice_types.go
  api/v1alpha1/discovery.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimtemplatecaches.yaml
  docs/docs/concepts/models.md
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  plan.md
  tests/e2e/aimservice/gpu/custom-model/service.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

update docs models.md
  docs/docs/concepts/models.md
Due: none

Added minVram and remove size validation to enable custom aimservices
  docs/docs/concepts/models.md
  internal/aimservice/kserve.go
  internal/aimservice/model.go
  internal/aimservice/reconcile.go
  internal/aimservice/reconcile_test.go
  internal/aimservicetemplate/discovery.go
  internal/aimservicetemplate/gpu.go
  internal/aimservicetemplate/gpu_test.go
  internal/aimservicetemplate/reconcile.go
  internal/aimtemplatecache/reconcile.go
  internal/controller/aimservice_controller.go
  internal/utils/resources.go
  internal/utils/resources_test.go
  tests/e2e/aimservicetemplate/min-vram/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/min-vram/model.yaml
  tests/e2e/aimservicetemplate/min-vram/template-vram-too-high.yaml
  tests/e2e/aimservicetemplate/min-vram/template.yaml
Due: golangci-lint

Update artifact-downloader image to ghcr.io/silogen/aim-artifact-downloader:0.1.0
  .github/workflows/test-e2e.yml
  Makefile
  api/v1alpha1/aimmodelcache_types.go
  config/crd/bases/aim.eai.amd.com_aimmodelcaches.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Add AIM_PROFILE_ID env var to InferenceService and expand precision enum
  api/v1alpha1/runtime.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservice/kserve.go
  internal/aimservice/kserve_test.go
  internal/aimservicetemplate/discovery.go
  internal/constants/constants.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Add ResolvedNodeAffinity to template status for GPU scheduling
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/runtime.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservice/kserve.go
  internal/aimservicetemplate/gpu.go
  internal/aimservicetemplate/reconcile.go
  internal/utils/predicates.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Add model/minVram mutual exclusivity and VRAM labels to Kind config
  api/v1alpha1/runtime.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  hack/kind/config.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Skip node-gpu-label-changes test (modifies node labels)
  tests/e2e/aimservicetemplate/node-gpu-label-changes/chainsaw-test.yaml
Due: none

Increase GPU chainsaw parallel to 8
  tests/chainsaw/config/gpu.yaml
Due: none

Fix model cache mount path and update artifact-downloader to 0.1.1
  api/v1alpha1/aimmodelcache_types.go
  config/crd/bases/aim.eai.amd.com_aimmodelcaches.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  images/artifact-downloader/Dockerfile
  internal/aimservice/kserve.go
  tests/e2e/aimmodel/custom-models/cpu-only/chainsaw-test.yaml
  tests/e2e/aimmodelcache/failure-auth-s3/chainsaw-test.yaml
  tests/e2e/aimmodelcache/failure-missing-s3/chainsaw-test.yaml
  tests/e2e/aimmodelcache/failure-storage/chainsaw-test.yaml
  tests/e2e/aimservice/common/autoscaling/chainsaw-test.yaml
  tests/e2e/aimservice/common/caching-mode-never/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-model/auto-generated-template/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-model/auto-generated-template/model.yaml
  tests/e2e/aimservice/common/custom-model/cpu-only-inline/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-model/cpu-only-inline/service.yaml
  tests/e2e/aimservice/common/custom-model/inline-custom-model/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-model/inline-custom-model/service.yaml
  tests/e2e/aimservice/common/custom-model/model-deduplication/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-model/model-deduplication/service-1.yaml
  tests/e2e/aimservice/common/custom-model/model-deduplication/service-2.yaml
  tests/e2e/aimservice/common/custom-model/model-source-env/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-model/model-source-env/model.yaml
  tests/e2e/aimservice/common/replicas-default/chainsaw-test.yaml
  tests/e2e/aimservice/common/replicas/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/custom-model/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/custom-model/model.yaml
  tests/e2e/aimservice/frozen/custom-model/service.yaml
  tests/e2e/aimservice/frozen/custom-model/template.yaml
  tests/e2e/aimservice/gpu/custom-model-env-propagation/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/custom-model-env-propagation/model.yaml
  tests/e2e/aimservice/gpu/custom-model-env-propagation/runtime-config.yaml
  tests/e2e/aimservice/gpu/custom-model-env-propagation/service.yaml
  tests/e2e/aimservice/gpu/custom-model/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/pending-resources/service.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Fix chainsaw test assertions and increase timeouts
  tests/chainsaw/config/gpu.yaml
  tests/e2e/aimservice/common/basic-lifecycle/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/custom-model/chainsaw-test.yaml
Due: none

Workflow for helm and image
  .github/workflows/publish-main.yml
  .github/workflows/test-e2e.yml
  Makefile
  README.md
  config/helm/templates/aimclustermodelsource.yaml
  config/helm/templates/aimclusterruntimeconfig.yaml
  config/helm/values.yaml
Due: none

Fixed cache env propagation tests to conform api changes
  internal/aimservice/caching_test.go
  tests/e2e/aimservice/frozen/env-propagation-to-cache/template.yaml
Due: golangci-lint

Fix pull secrets for operator image in helm (#3)
  .github/workflows/publish-main.yml
  Makefile
  config/helm/values.yaml
  hack/patch-helm-chart.sh
Due: none

Fix AIMService env vars not passed to AIMTemplateCache (#5)
  internal/aimservice/caching.go
  internal/aimservice/caching_test.go
  tests/e2e/aimservice/frozen/env-propagation-to-cache/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/env-propagation-to-cache/model.yaml
  tests/e2e/aimservice/frozen/env-propagation-to-cache/service.yaml
  tests/e2e/aimservice/frozen/env-propagation-to-cache/template.yaml
Due: golangci-lint

Additional custom model tests (#24)
  tests/e2e/aimservice/common/custom-model/model-deduplication-s3-endpoint/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-model/model-deduplication-s3-endpoint/service-1.yaml
  tests/e2e/aimservice/common/custom-model/model-deduplication-s3-endpoint/service-2.yaml
  tests/e2e/aimservice/gpu/custom-model-s3/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/custom-model-s3/minio-deployment.yaml
  tests/e2e/aimservice/gpu/custom-model-s3/minio-service.yaml
  tests/e2e/aimservice/gpu/custom-model-s3/minio-setup-job.yaml
  tests/e2e/aimservice/gpu/custom-model-s3/model-upload-job.yaml
  tests/e2e/aimservice/gpu/custom-model-s3/model.yaml
  tests/e2e/aimservice/gpu/custom-model-s3/runtime-config.yaml
  tests/e2e/aimservice/gpu/custom-model-s3/service.yaml
Due: none

fix: remove profile env vars, add tests for precision and metric propagation (#16)
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservice/kserve.go
  internal/aimservice/kserve_test.go
  tests/e2e/aimservice/common/basic-lifecycle/chainsaw-test.yaml
  tests/e2e/aimservice/common/basic-lifecycle/template.yaml
Due: golangci-lint

Fix clustermodelsources (#20)
  config/helm/values.yaml
Due: none

Add script to clone templates for different GPU profiles (#14)
  hack/clone-templates-for-gpu.sh
  tests/e2e/aimmodel/clone-templates-for-gpu/chainsaw-test.yaml
  tests/e2e/aimmodel/clone-templates-for-gpu/cluster-model.yaml
Due: none
