Repository amd-enterprise-ai/aim-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-generate, make-manifests, make-crd-docs, third-party-licenses, golangci-lint

make-generate:
  name: Run make generate
  entry: make generate
  language: system
  pass_filenames: false

make-manifests:
  name: Run make manifests
  entry: make manifests
  language: system
  pass_filenames: false

make-crd-docs:
  name: Run CRD docs generation
  entry: make generate-crd-docs
  language: system
  pass_filenames: false

third-party-licenses:
  name: Generate third-party licenses
  entry: make third-party-licenses
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  description: Fast linters runner for Go. Note that only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
  entry: golangci-lint run --new-from-rev=HEAD --timeout 10m
  language: system
  require_serial: true
  pass_filenames: false

chainsaw test added
  tests/e2e/aimservice/common/replicas-default/chainsaw-test.yaml
  tests/e2e/aimservice/common/replicas-default/model.yaml
  tests/e2e/aimservice/common/replicas-default/service.yaml
  tests/e2e/aimservice/common/replicas/chainsaw-test.yaml
Due: none

Added projection of replicas to aimservice
  api/v1alpha1/aimservice_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservice/kserve.go
  internal/aimservice/reconcile.go
  internal/controller/aimservice_controller.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Added autoscaling rbac to HPA
  config/rbac/role.yaml
Due: none

added rbac to kubeubuilder for aimservice
  config/rbac/role.yaml
  internal/controller/aimservice_controller.go
Due: golangci-lint

PR Feedback adressed
  api/v1alpha1/aimservice_types.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservice/reconcile.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

fix: check GPU availability with inline model sources and track all templates
  internal/aimmodel/reconcile.go
  internal/aimservicetemplate/reconcile.go
  internal/controller/aimmodel_controller.go
  tests/e2e/aimservicetemplate/node-gpu-label-changes/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/node-gpu-label-changes/model.yaml
  tests/e2e/aimservicetemplate/node-gpu-label-changes/service-template.yaml
Due: golangci-lint

Added Deplyoment section to README.md
  README.md
Due: none

Load model downloader with kind create, until public image is available
  Makefile
Due: none

Fix lint issues
  internal/aimmodelcache/reconcile.go
Due: golangci-lint

Watch DedicatedCaches, return ready when isvc started and caches are all ready
  api/v1alpha1/aimmodel_shared.go
  internal/aimservice/reconcile.go
  internal/controller/aimservice_controller.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Bug fix to pickup gpu selection in template
  internal/aimservice/kserve.go
Due: golangci-lint

initial draft tests, failing because secrets among other issues
  tests/e2e/aimservice/frozen/custom-model/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/custom-model/model.yaml
  tests/e2e/aimservice/frozen/custom-model/service.yaml
  tests/e2e/aimservice/frozen/custom-model/template.yaml
  tests/e2e/aimservice/gpu/custom-model/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/custom-model/runtime-config.yaml
  tests/e2e/aimservice/gpu/custom-model/service.yaml
Due: none

Artifact downloader update download progress w/ k8s API
  config/rbac/aimmodelcache_status_updater_role.yaml
  config/rbac/kustomization.yaml
  config/rbac/role.yaml
  images/model-downloader/Dockerfile
  images/model-downloader/progress_monitor.sh
  internal/aimmodelcache/download.go
  internal/aimmodelcache/reconcile.go
  internal/controller/aimmodelcache_controller.go
Due: golangci-lint

Fix unused var linter warning
  internal/aimkvcache/reconciler.go
Due: golangci-lint

Add build and load of model-downloader to github action
  .github/workflows/test-e2e.yml
Due: none

Rename model-downloader to artifact-downloader
  .github/workflows/build-model-downloader.yaml
  .github/workflows/test-e2e.yml
  Makefile
  api/v1alpha1/aimmodelcache_types.go
  config/crd/bases/aim.eai.amd.com_aimmodelcaches.yaml
  images/artifact-downloader/Dockerfile
  images/artifact-downloader/check-size.sh
  images/artifact-downloader/entrypoint.sh
  images/artifact-downloader/progress_monitor.sh
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Fix nil dereference error
  internal/aimservice/reconcile.go
Due: golangci-lint

Output log messages that can be understood by aim-engine
  images/artifact-downloader/Dockerfile
  images/artifact-downloader/check-size.sh
  images/artifact-downloader/entrypoint.sh
  images/artifact-downloader/progress-monitor.sh
  images/artifact-downloader/progress_monitor.sh
Due: none

Added helm chart oci push
  .github/workflows/publish-main.yml
  Makefile
Due: none

Added ImagePullSecrets for operator image
  Makefile
  config/helm/values.yaml
  hack/patch-helm-chart.sh
Due: none

Add patch and update permission, since SSA uses patch
  internal/controller/aimmodelcache_controller.go
Due: golangci-lint

remove temporary push on pr
  .github/workflows/publish-main.yml
Due: none

Added checking of HPA status
  internal/aimservice/reconcile.go
Due: golangci-lint

Change chainsaw autoscaling image
  tests/e2e/aimservice/common/autoscaling/model.yaml
Due: none

Include generated role.yaml
  config/rbac/role.yaml
Due: none

Don't expand ENV var within script
  images/artifact-downloader/check-size.sh
  images/artifact-downloader/entrypoint.sh
Due: none

fix: check GPU availability with inline model sources and track all templates (#29)
  internal/aimmodel/reconcile.go
  internal/aimservicetemplate/reconcile.go
  internal/controller/aimmodel_controller.go
  tests/e2e/aimservicetemplate/node-gpu-label-changes/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/node-gpu-label-changes/model.yaml
  tests/e2e/aimservicetemplate/node-gpu-label-changes/service-template.yaml
Due: golangci-lint

Add env field to cluster templates and fix env var precedence
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  hack/clone-templates-for-gpu.sh
  internal/aimservice/kserve.go
  internal/aimservice/kserve_test.go
  internal/aimservice/reconcile.go
  internal/aimservice/reconcile_test.go
  internal/aimservice/template.go
  internal/aimservice/template_test.go
  internal/aimservicetemplate/discovery_test.go
  internal/aimservicetemplate/reconcile.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

feat(discovery): add concurrent job limit and exponential backoff
  internal/aimservicetemplate/discovery.go
  internal/aimservicetemplate/job_semaphore.go
  internal/aimservicetemplate/job_semaphore_test.go
  internal/aimservicetemplate/reconcile.go
  internal/aimservicetemplate/reconcile_semaphore_test.go
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimservicetemplate_controller.go
  internal/controller/utils/apply.go
  tests/e2e/aimservicetemplate/discovery-backoff/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery-backoff/model.yaml
  tests/e2e/aimservicetemplate/discovery-backoff/template.yaml
  tests/e2e/aimservicetemplate/discovery-concurrent-limit/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery-concurrent-limit/model.yaml
  tests/e2e/aimservicetemplate/discovery-concurrent-limit/templates.yaml
  tests/e2e/aimservicetemplate/discovery-success-with-failures/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery/concurrent-limit/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery/concurrent-limit/generate-templates.sh
  tests/e2e/aimservicetemplate/discovery/concurrent-limit/model.yaml
  tests/e2e/aimservicetemplate/discovery/concurrent-limit/templates.yaml
  tests/e2e/aimservicetemplate/discovery/happy-path-cluster/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery/happy-path-cluster/cluster-model.yaml
  tests/e2e/aimservicetemplate/discovery/happy-path-cluster/cluster-template.yaml
  tests/e2e/aimservicetemplate/discovery/happy-path-namespace/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery/happy-path-namespace/model.yaml
  tests/e2e/aimservicetemplate/discovery/happy-path-namespace/template.yaml
  tests/e2e/aimservicetemplate/discovery/success-with-failures/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery/success-with-failures/model-fail.yaml
  tests/e2e/aimservicetemplate/discovery/success-with-failures/model-success.yaml
  tests/e2e/aimservicetemplate/discovery/success-with-failures/template-success.yaml
  tests/e2e/aimservicetemplate/discovery/success-with-failures/templates-fail.yaml
Due: golangci-lint

feat(discovery): add concurrent job limit and exponential backoff
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  internal/aimservicetemplate/discovery.go
  internal/aimservicetemplate/reconcile.go
  internal/constants/constants.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

test(discovery): add e2e tests for circuit breaker and backoff
  docs/docs/dev/test-observability.md
  tests/e2e/aimservicetemplate/discovery-backoff/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery-backoff/model.yaml
  tests/e2e/aimservicetemplate/discovery-backoff/template.yaml
  tests/e2e/aimservicetemplate/discovery-concurrent-limit/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery-concurrent-limit/model.yaml
  tests/e2e/aimservicetemplate/discovery-concurrent-limit/templates.yaml
  tests/e2e/aimservicetemplate/discovery-success-with-failures/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery-success-with-failures/model-fail.yaml
  tests/e2e/aimservicetemplate/discovery-success-with-failures/model-success.yaml
  tests/e2e/aimservicetemplate/discovery-success-with-failures/template-success.yaml
  tests/e2e/aimservicetemplate/discovery-success-with-failures/templates-fail.yaml
Due: none

chore: use mise exec in pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix(discovery): release semaphore slots at controller level to prevent leaks
  internal/aimservicetemplate/reconcile.go
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimservicetemplate_controller.go
Due: golangci-lint

release semaphore slot when ready
  internal/aimservicetemplate/reconcile.go
Due: golangci-lint

fix(discovery): add requeue mechanism for templates blocked by concurrent limit
  internal/aimservicetemplate/reconcile.go
  internal/controller/aimclustermodel_controller.go
  internal/controller/aimclustermodelsource_controller.go
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimmodel_controller.go
  internal/controller/aimmodelcache_controller.go
  internal/controller/aimservice_controller.go
  internal/controller/aimservicetemplate_controller.go
  internal/controller/aimtemplatecache_controller.go
  internal/controller/utils/reconciler.go
  internal/controller/utils/reconciler_test.go
Due: golangci-lint

chore: reduce discovery semaphore logging to verbose level
  internal/aimservicetemplate/reconcile.go
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimservicetemplate_controller.go
  internal/controller/utils/apply.go
Due: golangci-lint

chore: revert debug logging from apply.go
  internal/controller/utils/apply.go
Due: golangci-lint

test(discovery): add unit tests for orphaned semaphore slot recovery
  internal/aimservicetemplate/job_semaphore.go
  internal/aimservicetemplate/job_semaphore_test.go
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimservicetemplate_controller.go
Due: golangci-lint

chore: remove test-observability.md
  docs/docs/dev/test-observability.md
Due: none

Path conditions:
  make-generate: any of: ^api/
  make-manifests: any of: ^api/
  make-crd-docs: any of: ^api/
  third-party-licenses: any of: ^go\.(mod|sum)$
  golangci-lint: any of: \.go$
