Repository amd-enterprise-ai/aim-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-generate, make-manifests, make-crd-docs, third-party-licenses, golangci-lint

make-generate:
  name: Run make generate
  entry: make generate
  language: system
  pass_filenames: false

make-manifests:
  name: Run make manifests
  entry: make manifests
  language: system
  pass_filenames: false

make-crd-docs:
  name: Run CRD docs generation
  entry: make generate-crd-docs
  language: system
  pass_filenames: false

third-party-licenses:
  name: Generate third-party licenses
  entry: make third-party-licenses
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  description: Fast linters runner for Go. Note that only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
  entry: golangci-lint run --new-from-rev=HEAD --timeout 10m
  language: system
  require_serial: true
  pass_filenames: false

Feat: AIMClusterModelSource
  Makefile
  api/v1alpha1/aimclustermodelsource_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/aim.eai.amd.com_aimclustermodelsources.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  config/samples/aim_v1alpha1_aimclustermodelsource.yaml
  config/samples/kustomization.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimclustermodelsource/builder.go
  internal/aimclustermodelsource/builder_test.go
  internal/aimclustermodelsource/filtering.go
  internal/aimclustermodelsource/filtering_test.go
  internal/aimclustermodelsource/reconcile.go
  internal/aimclustermodelsource/reconcile_test.go
  internal/aimclustermodelsource/registry.go
  internal/controller/aimclustermodelsource_controller.go
  internal/controller/utils/reconciler.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

fix failing tests
  internal/aimclustermodelsource/reconcile_test.go
  internal/controller/utils/conditions_test.go
  internal/controller/utils/observability_test.go
Due: golangci-lint

ClusterModelSource controller migration (#8)
  Makefile
  api/v1alpha1/aimclustermodelsource_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/aim.eai.amd.com_aimclustermodelsources.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  config/samples/aim_v1alpha1_aimclustermodelsource.yaml
  config/samples/kustomization.yaml
  docs/docs/dev/controller-patterns.md
  docs/docs/dev/observation-design.md
  docs/docs/dev/state-engine.md
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimclustermodelsource/builder.go
  internal/aimclustermodelsource/builder_test.go
  internal/aimclustermodelsource/filtering.go
  internal/aimclustermodelsource/filtering_test.go
  internal/aimclustermodelsource/reconcile.go
  internal/aimclustermodelsource/reconcile_test.go
  internal/aimclustermodelsource/registry.go
  internal/controller/aimclustermodel_controller.go
  internal/controller/aimclustermodelsource_controller.go
  internal/controller/aimmodel_controller.go
  internal/controller/utils/apply.go
  internal/controller/utils/apply_test.go
  internal/controller/utils/conditions_test.go
  internal/controller/utils/errors.go
  internal/controller/utils/events.go
  internal/controller/utils/health.go
  internal/controller/utils/health_fetchers.go
  internal/controller/utils/health_test.go
  internal/controller/utils/observability_test.go
  internal/controller/utils/reconciler.go
  tests/e2e/aimclustermodelsource/auth-failure/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/auth-failure/cluster-model-source-ghcr.yaml
  tests/e2e/aimclustermodelsource/auto-sourcing/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/auto-sourcing/cluster-model-source.yaml
  tests/e2e/aimclustermodelsource/wildcard/chainsaw-test.yaml
  tests/e2e/aimclustermodelsource/wildcard/cluster-model-source-dockerhub.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

add readme stub
  docs/docs/concepts/aimmodelcache/README.md
  docs/docs/dev/controller-patterns.md
  docs/docs/dev/observation-design.md
  docs/docs/dev/state-engine.md
Due: none

fix rebase
  cmd/main.go
  config/rbac/role.yaml
  internal/aimmodelcache/download-monitor.sh
  internal/controller/aimmodelcache_controller.go
Due: golangci-lint

increase s3 test timeouts for ci
  tests/e2e/aimmodelcache/basic-lifecycle-s3/chainsaw-test.yaml
  tests/e2e/aimmodelcache/failure-missing-s3/chainsaw-test.yaml
Due: none

ensure kind nfs storage class is the only default
  hack/kind/helmfile.yaml.gotmpl
Due: none

add test label selector
  .github/workflows/test-e2e.yml
  tests/e2e/aimmodelcache/failure-storage/chainsaw-test.yaml
Due: none

fix test name
  tests/e2e/aimmodelcache/failure-auth-s3/chainsaw-test.yaml
  tests/e2e/aimmodelcache/failure-auth-s3/model-cache.yaml
Due: none

template cache migration
  api/v1alpha1/aimmodelcache_types.go
  api/v1alpha1/aimtemplatecache_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/aim.eai.amd.com_aimtemplatecaches.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimtemplatecache/reconcile.go
  internal/controller/aimtemplatecache_controller.go
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/model.yaml
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/service-template.yaml
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/template-cache.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/model.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/service-template.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/template-cache.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-has-wrong-scope/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-has-wrong-scope/cluster-service-template.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-has-wrong-scope/service-template.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-has-wrong-scope/template-cache-cluster.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-has-wrong-scope/template-cache-namespace.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-not-found/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-not-found/template-cache.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/cluster-service-template.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/template-cache.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/service-template.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/template-cache.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/model.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/service-template.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/template-cache.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

pr fixes
  internal/aimtemplatecache/reconcile.go
  internal/controller/aimtemplatecache_controller.go
Due: golangci-lint

Feature/template cache migration (#10)
  api/v1alpha1/aimmodelcache_types.go
  api/v1alpha1/aimtemplatecache_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/aim.eai.amd.com_aimtemplatecaches.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimtemplatecache/reconcile.go
  internal/controller/aimtemplatecache_controller.go
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/model.yaml
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/service-template.yaml
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/template-cache.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/model.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/service-template.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/template-cache.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-has-wrong-scope/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-has-wrong-scope/cluster-service-template.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-has-wrong-scope/service-template.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-has-wrong-scope/template-cache-cluster.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-has-wrong-scope/template-cache-namespace.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-not-found/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-not-found/template-cache.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/cluster-service-template.yaml
  tests/e2e/aimtemplatecache/happy-path-cluster/template-cache.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/service-template.yaml
  tests/e2e/aimtemplatecache/happy-path-namespace/template-cache.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/model.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/service-template.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/template-cache.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Feat: added servicetemplate controllers
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/discovery.go
  api/v1alpha1/runtime.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  config/rbac/role.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimmodel/reconcile.go
  internal/aimservicetemplate/cache.go
  internal/aimservicetemplate/discovery.go
  internal/aimservicetemplate/discovery_test.go
  internal/aimservicetemplate/gpu.go
  internal/aimservicetemplate/image.go
  internal/aimservicetemplate/kserve.go
  internal/aimservicetemplate/model.go
  internal/aimservicetemplate/reconcile.go
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimservicetemplate_controller.go
  internal/testutil/fixtures.go
  internal/utils/resources.go
  tests/e2e/aimservicetemplate/discovery-cluster/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery-cluster/cluster-model.yaml
  tests/e2e/aimservicetemplate/discovery-cluster/cluster-template.yaml
  tests/e2e/aimservicetemplate/discovery-namespace/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery-namespace/model.yaml
  tests/e2e/aimservicetemplate/discovery-namespace/template.yaml
  tests/e2e/aimservicetemplate/inline-model-sources/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/inline-model-sources/model.yaml
  tests/e2e/aimservicetemplate/inline-model-sources/template.yaml
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/model.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/model.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Remove and modify chainsaw tests
  api/v1alpha1/aimmodelcache_types.go
  api/v1alpha1/aimtemplatecache_types.go
  chainsaw-servicetemplate-results.txt
  config/crd/bases/aim.eai.amd.com_aimmodelcaches.yaml
  config/crd/bases/aim.eai.amd.com_aimtemplatecaches.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/model.yaml
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/service-template.yaml
  tests/e2e/aimtemplatecache/degrades-if-service-template-degraded/template-cache.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/model.yaml
  tests/e2e/aimtemplatecache/fails-if-service-template-failed/service-template.yaml
  tests/e2e/aimtemplatecache/not-available-when-gpu-unavailable/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/not-available-when-gpu-unavailable/model.yaml
  tests/e2e/aimtemplatecache/not-available-when-gpu-unavailable/service-template.yaml
  tests/e2e/aimtemplatecache/not-available-when-gpu-unavailable/template-cache.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/chainsaw-test.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/model.yaml
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/service-template.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

runtimeconfig from template
  internal/aimservicetemplate/cache.go
  internal/aimservicetemplate/reconcile.go
Due: golangci-lint

image renamed to model.go
  internal/aimservicetemplate/image.go
  internal/aimservicetemplate/model.go
Due: golangci-lint

update statuses for modelhealth
  internal/aimservicetemplate/model.go
Due: golangci-lint

fix for gpu check in ci
  hack/kind/config.yaml
  internal/aimservicetemplate/reconcile.go
Due: golangci-lint

Remove serving runtime creation
  chainsaw-servicetemplate-results.txt
  internal/aimservicetemplate/kserve.go
  internal/aimservicetemplate/reconcile.go
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimservicetemplate_controller.go
  tests/e2e/aimservicetemplate/discovery-cluster/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/discovery-namespace/chainsaw-test.yaml
  tests/e2e/aimservicetemplate/inline-model-sources/chainsaw-test.yaml
Due: golangci-lint

Added helm templating
  .github/workflows/test-e2e.yml
  .pre-commit-config.yaml
  Makefile
  chart/Chart.yaml
  chart/rbac-resources.yaml
  chart/templates/_helpers.tpl
  chart/templates/aim-engine-operator.yaml
  chart/templates/rbac-and-resources.yaml
  chart/values.yaml
Due: none

remove old charts
  Makefile
Due: none

Add install of CRDs
  .github/workflows/test-e2e.yml
Due: none

Change org to silogen for broken image
  tests/e2e/aimtemplatecache/waits-for-service-template-readiness/model.yaml
Due: none

Refactor Makefile to enable basic functionality
  Makefile
Due: none

add documentation
  .gitignore
  docs/docs/README.md
  docs/docs/concepts/aimmodelcache/README.md
  docs/docs/concepts/caching.md
  docs/docs/concepts/kv-cache.md
  docs/docs/concepts/model-sources.md
  docs/docs/concepts/models.md
  docs/docs/concepts/overview.md
  docs/docs/concepts/runtime-config.md
  docs/docs/concepts/templates.md
  docs/docs/usage/kv-cache.md
  docs/docs/usage/services.md
  docs/mkdocs.yml
  docs/requirements.txt
  docs/serve.sh
Due: none

PR review changes
  api/v1alpha1/aimruntimeconfig_shared.go
  config/crd/bases/aim.eai.amd.com_aimclusterruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimruntimeconfigs.yaml
  docs/docs/README.md
  docs/docs/concepts/caching.md
  docs/docs/concepts/kv-cache.md
  docs/docs/concepts/runtime-config.md
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

More PR review changes
  docs/docs/concepts/models.md
  docs/docs/concepts/templates.md
  docs/docs/usage/services.md
  go.mod
  third-party-licenses/github.com/containerd/stargz-snapshotter/estargz/LICENSE
  third-party-licenses/github.com/klauspost/compress/LICENSE
  third-party-licenses/github.com/klauspost/compress/internal/snapref/LICENSE
  third-party-licenses/github.com/klauspost/compress/zstd/internal/xxhash/LICENSE.txt
  third-party-licenses/github.com/opencontainers/image-spec/specs-go/LICENSE
  third-party-licenses/github.com/vbatts/tar-split/archive/tar/LICENSE
  third-party-licenses/golang.org/x/sys/LICENSE
Due: third-party-licenses

add documentation (#18)
  .gitignore
  api/v1alpha1/aimruntimeconfig_shared.go
  config/crd/bases/aim.eai.amd.com_aimclusterruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimruntimeconfigs.yaml
  docs/docs/README.md
  docs/docs/concepts/aimmodelcache/README.md
  docs/docs/concepts/caching.md
  docs/docs/concepts/kv-cache.md
  docs/docs/concepts/model-sources.md
  docs/docs/concepts/models.md
  docs/docs/concepts/overview.md
  docs/docs/concepts/runtime-config.md
  docs/docs/concepts/templates.md
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  docs/docs/usage/kv-cache.md
  docs/docs/usage/services.md
  docs/mkdocs.yml
  docs/requirements.txt
  docs/serve.sh
  go.mod
  third-party-licenses/github.com/containerd/stargz-snapshotter/estargz/LICENSE
  third-party-licenses/github.com/klauspost/compress/LICENSE
  third-party-licenses/github.com/klauspost/compress/internal/snapref/LICENSE
  third-party-licenses/github.com/klauspost/compress/zstd/internal/xxhash/LICENSE.txt
  third-party-licenses/github.com/opencontainers/image-spec/specs-go/LICENSE
  third-party-licenses/github.com/vbatts/tar-split/archive/tar/LICENSE
  third-party-licenses/golang.org/x/sys/LICENSE
Due: make-generate, make-manifests, make-crd-docs, third-party-licenses, golangci-lint

Added publish-chart workflow
  .github/workflows/publish-chart.yml
  Makefile
  config/helm/values.yaml
Due: none

Added Image creation
  .github/workflows/publish-chart.yml
Due: none

Temporary on branch
  .github/workflows/publish-chart.yml
Due: none

Added workflow dispatch
  .github/workflows/publish-chart.yml
Due: none

add aimservice tests
  internal/aimservice/caching.go
  internal/aimservice/caching_test.go
  internal/aimservice/httproute_test.go
  internal/aimservice/kserve.go
  internal/aimservice/kserve_test.go
  internal/aimservice/model_test.go
  internal/aimservice/plan.go
  internal/aimservice/reconcile_test.go
  internal/aimservice/selection.go
  internal/aimservice/selection_test.go
  internal/aimservice/template.go
  internal/aimservice/template_test.go
  internal/aimservice/testdata_test.go
Due: golangci-lint

aimservice frozen e2e tests
  internal/aimservice/reconcile.go
Due: golangci-lint

aimservice improvements
  api/v1alpha1/aimservice_types.go
  internal/aimservice/caching.go
  internal/aimservice/kserve.go
  internal/aimservice/model.go
  internal/aimservice/reconcile.go
  internal/aimservice/selection.go
  internal/aimservice/template.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

aimservice overridden template naming
  docs/docs/concepts/service.md
  internal/aimservice/template.go
Due: golangci-lint

first migration step
  api/v1alpha1/aimservice_types.go
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  config/rbac/role.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/aimservice/fetch.go
  internal/aimservice/gpu.go
  internal/aimservice/httproute.go
  internal/aimservice/kserve.go
  internal/aimservice/model.go
  internal/aimservice/plan.go
  internal/aimservice/reconcile.go
  internal/aimservice/selection.go
  internal/aimservice/template.go
  internal/constants/constants.go
  internal/controller/aimservice_controller.go
  internal/testutil/fixtures.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Path conditions:
  make-generate: any of: ^api/
  make-manifests: any of: ^api/
  make-crd-docs: any of: ^api/
  third-party-licenses: any of: ^go\.(mod|sum)$
  golangci-lint: any of: \.go$
