Repository amd-enterprise-ai/aim-engine: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-generate, make-manifests, make-crd-docs, third-party-licenses, golangci-lint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: branch-name-check
    name: Check branch name
    entry: bash -c 'branch=$(git rev-parse --abbrev-ref HEAD); if [[ ! "$branch" =~ ^(fix|feature|chore|ci|docs|refactor|perf|test)/.+ ]]; then echo "Error - Branch name must start with one of fix, feat, build, chore, ci, docs, refactor, perf, test, followed by / and descriptive text"; echo "Current branch is $branch"; exit 1; fi'
    language: system
    pass_filenames: false
    stages: [pre-push]

  - id: make-generate
    name: Run make generate
    entry: make generate
    language: system
    pass_filenames: false
    files: ^api/

  - id: make-manifests
    name: Run make manifests
    entry: make manifests
    language: system
    pass_filenames: false
    files: ^api/

  - id: make-crd-docs
    name: Run CRD docs generation
    entry: make generate-crd-docs
    language: system
    pass_filenames: false
    files: ^api/

  - id: third-party-licenses
    name: Generate third-party licenses
    entry: make third-party-licenses
    language: system
    pass_filenames: false
    files: ^go\.(mod|sum)$

  # - id: build-crds
  #   name: Build CRDs for Helm chart
  #   entry: bash -lc 'kubectl kustomize config/crd/ > crd/crds.yaml'
  #   language: system
  #   pass_filenames: false

  # - id: make-generate-crd-docs
  #   name: Run make generate-crd-docs
  #   entry: make generate-crd-docs
  #   language: system
  #   pass_filenames: false

  - id: golangci-lint
    name: golangci-lint
    description: Fast linters runner for Go. Note that only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
    entry: golangci-lint run --new-from-rev=HEAD --timeout 10m
    types: [ go ]
    language: system
    require_serial: true
    pass_filenames: false

- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [ --offset, "0", --sequence, "2", --mapping, "2", "--width", "4096", "--preserve-quotes", "--implicit_start", "--preserve_null" ]
    exclude: "(^config/prometheus/.*\\.ya?ml$)|(^docs/mkdocs\\.ya?ml$)|(^config/crd/.*\\.ya?ml$)||(^install.ya?ml$)|(^crd/.*\\.ya?ml$)|(^chart/templates/.*\\.(ya?ml|tpl)$)|(^.*/templates/.*\\.(ya?ml|tpl)$)"

Set AIM_PROFILE_ID from recommended deployment, when available (#22)
  api/v1alpha1/registry.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  internal/aimmodel/inspector_test.go
  internal/aimmodel/template.go
  internal/aimmodel/template_test.go
  tests/e2e/aimservice/common/profile-id-propagation/chainsaw-test.yaml
  tests/e2e/aimservice/common/profile-id-propagation/service.yaml
  tests/e2e/aimservice/gpu/profile-id-propagation/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/profile-id-propagation/runtime-config.yaml
  tests/e2e/aimservice/gpu/profile-id-propagation/service.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

fix: AIM side rename from artifact back to cache (#32)
  api/v1alpha1/aimartifact_types.go
  api/v1alpha1/discovery.go
  config/crd/bases/aim.eai.amd.com_aimartifacts.yaml
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimtemplatecaches.yaml
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  internal/constants/constants.go
  tests/e2e/aimservice/common/basic-lifecycle/chainsaw-test.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Adds AIM_DOWNLOAD_PROTOCOL and only run progress monitor on download (#23)
  CLAUDE.md
  Makefile
  api/v1alpha1/aimartifact_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimartifacts.yaml
  docs/docs/concepts/caching.md
  docs/docs/concepts/runtime-config.md
  docs/docs/reference/crds/v1alpha1/aim.eai.amd.com.md
  images/artifact-downloader/Dockerfile
  images/artifact-downloader/check-size.sh
  images/artifact-downloader/entrypoint.sh
  images/artifact-downloader/hf-download.sh
  images/artifact-downloader/hf-verify.sh
  images/artifact-downloader/kserve-entrypoint.sh
  images/artifact-downloader/progress-monitor.sh
  internal/aimartifact/download.go
  internal/aimartifact/reconcile.go
  internal/aimservice/kserve_test.go
  tests/e2e/aimartifact/failure-auth-hf/chainsaw-test.yaml
  tests/e2e/aimartifact/progress-and-verification/artifact-success.yaml
  tests/e2e/aimartifact/progress-and-verification/artifact-verify-fail.yaml
  tests/e2e/aimartifact/progress-and-verification/chainsaw-test.yaml
  tests/e2e/aimartifact/progress-and-verification/runtime.yaml
  tests/e2e/aimartifact/protocol-switching/artifact-all-fail.yaml
  tests/e2e/aimartifact/protocol-switching/artifact-fallback.yaml
  tests/e2e/aimartifact/protocol-switching/chainsaw-test.yaml
  tests/e2e/aimartifact/protocol-switching/runtime.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

update hardware references (#27)
  docs/docs/concepts/service.md
  docs/docs/concepts/templates.md
  docs/docs/usage/services.md
Due: none

fix namespace-termination finalizer handling and add chainsaw regression test (#29)
  config/rbac/role.yaml
  internal/controller/aimservice_controller.go
  internal/controller/aimtemplatecache_controller.go
  internal/controller/namespace_termination.go
  tests/e2e/aimservice/common/cache-cleanup/namespace-deletion-not-blocked/artifact.yaml
  tests/e2e/aimservice/common/cache-cleanup/namespace-deletion-not-blocked/chainsaw-test.yaml
  tests/e2e/aimservice/common/cache-cleanup/namespace-deletion-not-blocked/namespace.yaml
  tests/e2e/aimservice/common/cache-cleanup/namespace-deletion-not-blocked/service.yaml
  tests/e2e/aimservice/common/cache-cleanup/namespace-deletion-not-blocked/template-cache.yaml
Due: golangci-lint

Caching documentation update (#26)
  docs/docs/concepts/caching.md
  docs/docs/concepts/service.md
Due: none

EAI-1475 Fixed mutable fields on aimservice to update isvc (#33)
  api/v1alpha1/aimservice_types.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  internal/aimservice/kserve.go
  internal/aimservice/kserve_test.go
  internal/aimservice/reconcile.go
  internal/aimservice/reconcile_test.go
  tests/e2e/aimservice/common/autoscaling-update/chainsaw-test.yaml
  tests/e2e/aimservice/common/autoscaling-update/model.yaml
  tests/e2e/aimservice/common/autoscaling-update/service-updated.yaml
  tests/e2e/aimservice/common/autoscaling-update/service.yaml
  tests/e2e/aimservice/common/cache-deleted-dedicated/chainsaw-test.yaml
  tests/e2e/aimservice/common/cache-deleted-dedicated/service.yaml
  tests/e2e/aimservice/common/cache-deleted-shared/chainsaw-test.yaml
  tests/e2e/aimservice/common/cache-deleted-shared/service.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Generic workflows - including compile release workflow (#35)
  .github/workflows/compile-release.yaml
  .github/workflows/publish-main.yml
  Makefile
Due: none

Add William to CODEOWNERS (#36)
  CODEOWNERS
Due: none

Add release workflow with AI agent skill for changelog generation (#37)
  .cursor/skills/release/SKILL.md
  CHANGELOG.md
  CLAUDE.md
  Makefile
  hack/release/SKILL.md
  hack/release/prep.sh
  hack/release/release.sh
Due: none

Verify that we can pull the image for custom models (#38)
  internal/aimmodel/reconcile.go
  internal/aimservicetemplate/model.go
  internal/aimservicetemplate/model_test.go
  tests/e2e/aimmodel/custom-models/nonexistent-image/chainsaw-test.yaml
  tests/e2e/aimmodel/custom-models/nonexistent-image/model-template-only-failure.yaml
  tests/e2e/aimmodel/custom-models/nonexistent-image/model.yaml
  tests/e2e/aimmodel/custom-models/nonexistent-image/template.yaml
  tests/e2e/aimmodel/custom-models/valid-image/chainsaw-test.yaml
  tests/e2e/aimmodel/custom-models/valid-image/model.yaml
Due: golangci-lint

Change branch name from release to avoid release tags conflicts (#40)
  .github/workflows/compile-release.yaml
Due: none

Release notes for v0.2.0 (#41)
  CHANGELOG.md
Due: none

temporray mkdocs
  .github/workflows/docs.yaml
Due: none

remove palette for colors
  docs/mkdocs.yml
Due: none

fix version mkdocs!
  docs/requirements.txt
Due: none

revert styles changes
  docs/mkdocs.yml
  docs/requirements.txt
Due: none

palette indent
  docs/mkdocs.yml
Due: none

Changed naming convention of helm images (#46)
  .github/workflows/compile-release.yaml
  Makefile
Due: none

Multiple container registry source support (#47)
  .github/workflows/compile-release.yaml
Due: none

Set default controller image to public, with tests toward private (#48)
  .github/workflows/compile-release.yaml
Due: none

Env variable expansion, kustomize build for overwrite bug (#49)
  .github/workflows/compile-release.yaml
Due: none

Update Helm install command to use Docker registry
  README.md
Due: none

Add tilt.dev workflow (#11)
  .gitignore
  Makefile
  hack/tilt/Dockerfile
  hack/tilt/README.md
  hack/tilt/Tiltfile
  hack/tilt/kustomize/kustomization.yaml
  hack/tilt/kustomize/pvcs.yaml
  mise.toml
Due: none

Add template health checks to ServiceObservation (#31)
  internal/aimservice/reconcile.go
  internal/aimservice/reconcile_test.go
Due: golangci-lint

EAI-1636 runtime status to show service.spec on startup (#53)
  internal/aimservice/reconcile.go
  tests/e2e/aimservice/common/autoscaling-update/chainsaw-test.yaml
  tests/e2e/aimservice/common/autoscaling/chainsaw-test.yaml
Due: golangci-lint

Include AIMService annotations in HTTPRoute (#55)
  api/v1alpha1/aimruntimeconfig_shared.go
  config/crd/bases/aim.eai.amd.com_aimclusterruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/api/v1alpha1.md
  internal/aimservice/httproute.go
  internal/aimservice/httproute_test.go
  tests/e2e/aimservice/frozen/route-annotations/chainsaw-test.yaml
  tests/e2e/aimservice/frozen/route-annotations/model.yaml
  tests/e2e/aimservice/frozen/route-annotations/runtime-config.yaml
  tests/e2e/aimservice/frozen/route-annotations/service.yaml
  tests/e2e/aimservice/frozen/route-annotations/template.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Fix: Release readme generation (#54)
  .github/workflows/compile-release.yaml
  .github/workflows/test-e2e.yml
Due: none

Initial addition of priorityclassname to isvc (#50)
  api/v1alpha1/aimservice_types.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/api/v1alpha1.md
  internal/aimservice/kserve.go
  internal/aimservice/kserve_test.go
  tests/e2e/aimservice/common/priority-class/chainsaw-test.yaml
  tests/e2e/aimservice/common/priority-class/model.yaml
  tests/e2e/aimservice/common/priority-class/priority-class.yaml
  tests/e2e/aimservice/common/priority-class/service.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Publish main to overwrite package repository (#57)
  .github/workflows/publish-main.yml
Due: none

Keep status running when scaling (#59)
  api/v1alpha1/aimservice_types.go
  internal/aimservice/reconcile.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Rework of artifact downloader image to have versions matching releases, publish-main, use on e2e-test workflow (#15)
  .github/workflows/build-model-downloader.yaml
  .github/workflows/compile-release.yaml
  .github/workflows/publish-main.yml
  .github/workflows/test-e2e.yml
  Dockerfile
  Makefile
  api/v1alpha1/aimartifact_types.go
  config/crd/bases/aim.eai.amd.com_aimartifacts.yaml
  docs/docs/reference/api/v1alpha1.md
  images/artifact-downloader/Dockerfile
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

FIX: Runtime Replicas: Report minReplicas instead of omitting 0 on startup (#58)
  api/v1alpha1/aimservice_types.go
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/api/v1alpha1.md
  internal/aimservice/reconcile.go
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Added artifact lifecycle management (#60)
  api/v1alpha1/aimartifact_types.go
  api/v1alpha1/aimruntimeconfig_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimartifacts.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimruntimeconfigs.yaml
  docs/docs/admin/storage-configuration.md
  docs/docs/concepts/caching.md
  docs/docs/concepts/resource-lifecycle.md
  docs/docs/reference/api/v1alpha1.md
  internal/aimartifact/quota.go
  internal/aimartifact/quota_lock.go
  internal/aimartifact/quota_lock_test.go
  internal/aimartifact/quota_test.go
  internal/aimartifact/reconcile.go
  internal/aimservice/reconcile.go
  internal/controller/aimartifact_controller.go
  internal/controller/utils/fetch.go
  tests/e2e/aimartifact/storage-quota-blocked/artifact-blocked.yaml
  tests/e2e/aimartifact/storage-quota-blocked/artifact-fill.yaml
  tests/e2e/aimartifact/storage-quota-blocked/chainsaw-test.yaml
  tests/e2e/aimartifact/storage-quota-eviction-order/artifact-default-prio.yaml
  tests/e2e/aimartifact/storage-quota-eviction-order/artifact-prio-100.yaml
  tests/e2e/aimartifact/storage-quota-eviction-order/artifact-prio-50.yaml
  tests/e2e/aimartifact/storage-quota-eviction-order/artifact-trigger.yaml
  tests/e2e/aimartifact/storage-quota-eviction-order/chainsaw-test.yaml
  tests/e2e/aimartifact/storage-quota-eviction-order/runtime.yaml
  tests/e2e/aimartifact/storage-quota/artifact-fill-a.yaml
  tests/e2e/aimartifact/storage-quota/artifact-fill-b.yaml
  tests/e2e/aimartifact/storage-quota/artifact-new.yaml
  tests/e2e/aimartifact/storage-quota/chainsaw-test.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

feat: add custom profile support for AIMServiceTemplate and AIMService (#61)
  api/v1alpha1/aimmodel_shared.go
  api/v1alpha1/aimservicetemplate_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimclustermodels.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterservicetemplates.yaml
  config/crd/bases/aim.eai.amd.com_aimmodels.yaml
  config/crd/bases/aim.eai.amd.com_aimservicetemplates.yaml
  config/rbac/role.yaml
  docs/docs/concepts/models.md
  docs/docs/concepts/templates.md
  docs/docs/guides/deploying-services.md
  docs/docs/reference/api/v1alpha1.md
  docs/docs/reference/environment-variables.md
  internal/aimmodel/template.go
  internal/aimservice/kserve.go
  internal/aimservice/reconcile.go
  internal/aimservice/reconcile_test.go
  internal/aimservicetemplate/discovery.go
  internal/aimservicetemplate/discovery_test.go
  internal/aimservicetemplate/reconcile.go
  internal/constants/constants.go
  internal/controller/aimclusterservicetemplate_controller.go
  internal/controller/aimservice_controller.go
  internal/controller/aimservicetemplate_controller.go
  internal/controller/utils/customprofile.go
  internal/controller/utils/customprofile_test.go
  tests/e2e/aimservice/common/custom-profiles/custom-profile-direct-template/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-profiles/custom-profile-direct-template/model.yaml
  tests/e2e/aimservice/common/custom-profiles/custom-profile-direct-template/service.yaml
  tests/e2e/aimservice/common/custom-profiles/custom-profile-direct-template/template.yaml
  tests/e2e/aimservice/common/custom-profiles/custom-profile-lifecycle/chainsaw-test.yaml
  tests/e2e/aimservice/common/custom-profiles/custom-profile-lifecycle/model.yaml
  tests/e2e/aimservice/common/custom-profiles/custom-profile-lifecycle/service.yaml
  tests/e2e/aimservice/common/custom-profiles/custom-profile-validation/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/custom-profile-engine-args/chainsaw-test.yaml
  tests/e2e/aimservice/gpu/custom-profile-engine-args/model.yaml
  tests/e2e/aimservice/gpu/custom-profile-engine-args/runtime-config.yaml
  tests/e2e/aimservice/gpu/custom-profile-engine-args/service.yaml
  tests/e2e/aimservice/gpu/custom-profile-engine-args/template.yaml
  tests/e2e/aimservice/gpu/custom-profile-engine-args/validate-model-name.sh
Due: make-generate, make-manifests, make-crd-docs, golangci-lint

Add configurable artifact download filter - default to exclude subdirs (#56)
  api/v1alpha1/aimartifact_types.go
  api/v1alpha1/aimruntimeconfig_shared.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/aim.eai.amd.com_aimartifacts.yaml
  config/crd/bases/aim.eai.amd.com_aimclusterruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimruntimeconfigs.yaml
  config/crd/bases/aim.eai.amd.com_aimservices.yaml
  docs/docs/reference/api/v1alpha1.md
  images/artifact-downloader/check-size.sh
  images/artifact-downloader/check-size/check-hf-size.py
  images/artifact-downloader/hf-download.sh
  images/artifact-downloader/hf-verify.sh
  internal/aimartifact/download.go
  internal/aimartifact/download_test.go
  tests/e2e/aimartifact/download-filter/artifact-filtered.yaml
  tests/e2e/aimartifact/download-filter/artifact-full.yaml
  tests/e2e/aimartifact/download-filter/chainsaw-test.yaml
Due: make-generate, make-manifests, make-crd-docs, golangci-lint
